USE [BHSDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_GETSYSCONFIGTABLECHANGE]    Script Date: 2014/3/31 12:01:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_MES_GETSYSCONFIGTABLECHANGE]
	@Subsystem varchar(20),
	@IsChange bit OUTPUT
AS
BEGIN
	SELECT  @IsChange=IS_CHANGED FROM CHANGE_MONITORING WHERE SAC_OWS = @Subsystem AND STATE_CODE ='TB_SYS_CONFIG';
					
	UPDATE CHANGE_MONITORING SET IS_CHANGED = 0 WHERE SAC_OWS = @Subsystem AND STATE_CODE ='TB_SYS_CONFIG';
END
