USE [BHSDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_GETPASSENGERINFO]    Script Date: 07/03/2014 09:18:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		SC Leong
-- Create date: 27-01-2014
-- Description:	Get Passenger & Flight Info to be displayed on MES : Encode by License Plate
-- =============================================
ALTER PROCEDURE [dbo].[stp_MES_GETPASSENGERINFO]
	-- Add the parameters for the stored procedure here
	@LICENSE_PLATE VARCHAR(10)
AS
DECLARE 
    @ERROR VARCHAR(100),
	@COLUMN VARCHAR(3)
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT @COLUMN = SYS_VALUE FROM SYS_CONFIG WHERE SYS_KEY = 'ALLOC_OPEN_RELATED'

	SET @ERROR = ''

	IF NOT EXISTS(SELECT * FROM BAG_SORTING WHERE LICENSE_PLATE = @LICENSE_PLATE)
	   BEGIN
	       SET @ERROR = @LICENSE_PLATE + ' => No BSM received' 

	       SELECT '' AS PASSENGER_NAME, '' AS TRAVEL_CLASS, '' AS AIRLINE, '' AS FLIGHT_NUMBER, '' AS FINAL_DEST, @ERROR AS ERROR
		   
		   RETURN 0   
	   END
	ELSE IF (SELECT COUNT(LICENSE_PLATE) FROM BAG_SORTING WHERE LICENSE_PLATE = @LICENSE_PLATE) > 1
	   BEGIN
	      SET @ERROR = @LICENSE_PLATE + ' => Multiple BSM received'
		  
		  SELECT '' AS PASSENGER_NAME, '' AS TRAVEL_CLASS, '' AS AIRLINE, '' AS FLIGHT_NUMBER, '' AS FINAL_DEST, @ERROR AS ERROR
		   
		  RETURN 0  
	   END    
	ELSE IF NOT EXISTS(SELECT M.LICENSE_PLATE	                   
	                   FROM BAG_SORTING M,FLIGHT_PLAN_SORTING A
					   WHERE M.LICENSE_PLATE = @LICENSE_PLATE AND M.AIRLINE = A.AIRLINE AND M.FLIGHT_NUMBER = A.FLIGHT_NUMBER AND 
					         (CASE WHEN @COLUMN = 'STD' THEN A.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN A.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN A.ADO ELSE A.ITO END END END) = M.SDO) 
	   BEGIN
	       SET @ERROR = @LICENSE_PLATE + ' => Unknown Flight'

	       SELECT '' AS PASSENGER_NAME, '' AS TRAVEL_CLASS, '' AS AIRLINE, '' AS FLIGHT_NUMBER, '' AS FINAL_DEST, @ERROR AS ERROR 

		   RETURN 0
	   END    
    ELSE IF NOT EXISTS(SELECT M.LICENSE_PLATE	                   
	                   FROM BAG_SORTING M,FLIGHT_PLAN_ALLOC A
					   WHERE M.LICENSE_PLATE = @LICENSE_PLATE AND M.AIRLINE = A.AIRLINE AND M.FLIGHT_NUMBER = A.FLIGHT_NUMBER AND 
					         (CASE WHEN @COLUMN = 'STD' THEN A.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN A.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN A.ADO ELSE A.ITO END END END) = M.SDO) 
	   BEGIN
	       SET @ERROR = @LICENSE_PLATE + ' => No allocation'

	       SELECT '' AS PASSENGER_NAME, '' AS TRAVEL_CLASS, '' AS AIRLINE, '' AS FLIGHT_NUMBER, '' AS FINAL_DEST, @ERROR AS ERROR 

		   RETURN 0
	   END  
    ELSE
       BEGIN
		   SELECT COALESCE(SURNAME, '') + COALESCE(' ' + GIVEN_NAME, '') + COALESCE(' ' + OTHERS_NAME, '') AS PASSENGER_NAME, TRAVEL_CLASS , A.AIRLINE, A.FLIGHT_NUMBER, B.FINAL_DEST, 
		          '' AS ERROR  
		   FROM BAG_SORTING A INNER JOIN FLIGHT_PLAN_SORTING B ON (A.AIRLINE = B.AIRLINE AND A.FLIGHT_NUMBER = B.FLIGHT_NUMBER AND A.SDO = B.SDO)
		   WHERE A.LICENSE_PLATE = @LICENSE_PLATE
	   END
    	 
END
