USE [BHSDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_SAC_GETIRDVALUES@MES]    Script Date: 21/02/2014 09:46:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[stp_SAC_GETIRDVALUES@MES] (
     @ENCODED_TYPE CHAR(2),
     @LICENSE_PLATE VARCHAR(10),
     @AIRLINE VARCHAR(3),
     @FLIGHT_NUMBER VARCHAR(5),
     @SDO VARCHAR(10),
     @ALLOCATION_PROP VARCHAR(10),
	 @SORTDESTINATION VARCHAR(20)
)
AS
DECLARE 
     @CARRIER VARCHAR(3),
     @FLIGHT_NO VARCHAR(5),
     @S_DO DATETIME,
     @TRAVEL_CLASS VARCHAR(1),
     @RECONCILIATION_PASSENGER_STATUS VARCHAR(1),
     @COLUMN VARCHAR(3),
     @REASON VARCHAR(2),
     @DESTINATION VARCHAR(10)
BEGIN 
     SET @CARRIER = NULL 
     SET @FLIGHT_NO = NULL 
     SET @S_DO = NULL
     
     SELECT @COLUMN = SYS_VALUE FROM SYS_CONFIG WHERE SYS_KEY = 'ALLOC_OPEN_RELATED'
     
     -- 1. ENCODED BY LICENSE PLATE
     IF (@ENCODED_TYPE = '1')
        BEGIN
            
            -- 4 DIGITS TAG SORTATION 
            IF LEN(LTRIM(RTRIM(@LICENSE_PLATE))) = 4
                BEGIN
                    SET @REASON = '17'
                    
                    SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
                    FROM FOUR_DIGITS_FALLBACK_MAPPING A, DESTINATIONS B WHERE A.DESTINATION = B.DESTINATION AND ID = LTRIM(RTRIM(@LICENSE_PLATE))
                    
                    RETURN 0
                END 
            ELSE IF (LEFT(@LICENSE_PLATE,1)='1') AND LEN(LTRIM(RTRIM(@LICENSE_PLATE))) = 10
                -- FALLBACK TAG 
                BEGIN 
                    IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'FALLBACK_SORT_ENABLED' AND SYS_VALUE='TRUE') AND
                       EXISTS(SELECT * FROM SYS_CONFIG WHERE SYS_KEY = 'AIRPORT_LOCATION_CODE' AND SYS_VALUE = RIGHT(LEFT(@LICENSE_PLATE,8),4))
                       
                       -- HAVE TO CHECK VALIDITY OF AIRPORT CODE. IF INVALID, GO FOR UNKNOWN LICENSE PLATE SORTATION 
                       BEGIN 
                     		SET @REASON = '2'
		                    
							SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
							FROM FALLBACK_MAPPING A,DESTINATIONS B WHERE A.DESTINATION = B.DESTINATION AND ID = RIGHT(LTRIM(RTRIM(@LICENSE_PLATE)),2) AND B.IS_AVAILABLE = 1
		                    
							RETURN 0
					   END
					ELSE
					   -- IF FALLBACK SORTATION DISABLED, CONSIDER AS NO READ
					   BEGIN
					        IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'UNKNOWN_LICENSE_PLATE' AND SYS_VALUE='TRUE')
										 BEGIN 
											 SET @REASON = '20'
									         
											 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
											 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
											 WHERE A.FUNCTION_TYPE = 'UNLP' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
									         
										 END 
							 ELSE
						   				 BEGIN
											  SET @REASON = '20'
									          
											  SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON, DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
											  FROM DESTINATIONS WHERE DESTINATION = 'MES'
									          
										 END
							RETURN 0 
					   END
                END
            ELSE IF LEN(LTRIM(RTRIM(@LICENSE_PLATE))) = 10
                BEGIN 
                    IF EXISTS(SELECT * FROM BAG_SORTING WHERE LICENSE_PLATE = @LICENSE_PLATE)
                       BEGIN 
                    
							-- GET AIRLINE, FLIGHT NUMBER, SDO FROM BAG_SORTING (BSM) TABLE
							SELECT @CARRIER = AIRLINE,@FLIGHT_NO = FLIGHT_NUMBER,@S_DO = SDO, @TRAVEL_CLASS = TRAVEL_CLASS, 
								   @RECONCILIATION_PASSENGER_STATUS = RECONCILIATION_PASSENGER_STATUS
							FROM BAG_SORTING 
							WHERE LICENSE_PLATE = @LICENSE_PLATE
							
				            
							-- 1.1 CHECK FOR MULTIPLE BSM
							IF (SELECT COUNT(*) FROM BAG_SORTING WHERE LICENSE_PLATE = @LICENSE_PLATE) > 1
							   BEGIN
								   SET @REASON = '19' 
								
								   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
								   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B
								   WHERE A.FUNCTION_TYPE = 'MBSM' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
				                   
								   RETURN 0
							   END
							-- 1.2 UNKNOWN FLIGHT BAG SORTING
							ELSE IF NOT EXISTS(SELECT * FROM FLIGHT_PLAN_SORTING
											   WHERE FLIGHT_NUMBER = @FLIGHT_NO AND AIRLINE = @CARRIER AND
											   CASE WHEN @COLUMN = 'STD' THEN SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN ADO ELSE ITO END END END = @S_DO)
							   BEGIN
								   SET @REASON = '11'
				                   
								   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
								   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
								   WHERE A.FUNCTION_TYPE = 'UNFL' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
				                   
								   RETURN 0
							   END    
							-- 1.3 NO ALLOCATION SORTING
							ELSE IF NOT EXISTS(SELECT * FROM FLIGHT_PLAN_ALLOC   
											   WHERE FLIGHT_NUMBER = @FLIGHT_NO AND AIRLINE = @CARRIER AND 
											   CASE WHEN @COLUMN = 'STD' THEN SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN ADO ELSE ITO END END END = @S_DO)
							   BEGIN
								   SET @REASON = '13' 
				                    
								   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
								   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
								   WHERE A.FUNCTION_TYPE = 'NOAL' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
				                       
								   RETURN 0
							   END       
							-- 1.4 STANDBY PASSENGER SORTING
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'STAND_BY_PASSENGER_ENABLED' AND SYS_VALUE='TRUE') AND 
									@RECONCILIATION_PASSENGER_STATUS = 'S' 
							   BEGIN
									 SET @REASON = '7'
				                            
									 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
									 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
									 WHERE A.FUNCTION_TYPE = 'SBPB' AND A.IS_ENABLED = 1 AND A.RESOURCE = B.DESTINATION
				                        
									 RETURN 0
							   END
							-- 1.5 LATE BAG SORTING
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'LATE_ENABLED' AND SYS_VALUE = 'TRUE') AND 
									@ALLOCATION_PROP = '2LATE'
							   BEGIN                      
								  SET @REASON = '5'
				                      
								  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
								  FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B  
								  WHERE A.FUNCTION_TYPE = 'LATE' AND A.[RESOURCE] = B.DESTINATION
				                  
								  RETURN 0
							   END
							-- 1.6 HOT BAG SORTING   
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'RUSH_ENABLED' AND SYS_VALUE = 'TRUE') AND 
									@ALLOCATION_PROP = 'RUSH'
							   BEGIN
								  SET @REASON = '4'
				                  
								  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
								  FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'RUSH' AND A.[RESOURCE] = B.DESTINATION 
				                  
								  RETURN 0 
							   END 
							-- 1.7 EARLY BAG SORTING    
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'ERLY_ENABLED' AND SYS_VALUE = 'TRUE') AND 
									@ALLOCATION_PROP = 'EARLY'
							   BEGIN
								  SET @REASON = '3'
				               
								  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION  
								  FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'ERLY' AND A.[RESOURCE] = B.DESTINATION
				                  
								  RETURN 0
							   END
							-- 1.8 TOO EARLY BAG SORTING    
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'ERLY_OPEN_ENABLED' AND SYS_VALUE='TRUE') AND 
									@ALLOCATION_PROP = '2EARLY'
							   BEGIN
								  SET @REASON = '18'
				                  
								  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
								  FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'TERL' AND A.[RESOURCE] = B.DESTINATION
				                  
								  RETURN 0
							   END
							-- 1.9 BUSINESS CLASS SORTING   
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'BUSINESS_CLASS_ENABLED' AND SYS_VALUE='TRUE') AND
									@TRAVEL_CLASS != 'F'
							   BEGIN
								   SET @REASON = '9'
				                           
								   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
								   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
								   WHERE A.FUNCTION_TYPE = 'BCPB' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
				                           
								   RETURN 0
							   END
							-- 1.9.1 FIRST CLASS SORTING
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'FIRST_CLASS_ENABLED' AND SYS_VALUE='TRUE') AND 
									@TRAVEL_CLASS = 'F' 
							   BEGIN
									 SET @REASON = '8'
				                     
									 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
									 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
									 WHERE A.FUNCTION_TYPE = 'FCPB' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
				                     
									 RETURN 0
							   END 
							-- 1.9.2 FLIGHT SORTING OPTION
							ELSE IF EXISTS(SELECT * FROM BAG_SORTING A INNER JOIN FLIGHT_PLAN_ALLOC B ON (A.AIRLINE = B.AIRLINE AND A.FLIGHT_NUMBER = B.FLIGHT_NUMBER AND 
										   A.SDO = CASE WHEN @COLUMN = 'STD' THEN B.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN B.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN B.ADO ELSE B.ITO END END END) WHERE A.LICENSE_PLATE = @LICENSE_PLATE)
							   BEGIN
								  SET @REASON = '1' 
				                   
								  SELECT C.LOCATION_ID AS DESTINATION, @REASON AS REASON, C.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
								  FROM BAG_SORTING A INNER JOIN FLIGHT_PLAN_ALLOC B ON (A.AIRLINE = B.AIRLINE AND A.FLIGHT_NUMBER = B.FLIGHT_NUMBER AND 
										 A.SDO = (CASE WHEN @COLUMN = 'STD' THEN B.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN B.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN B.ADO ELSE B.ITO END END END)), DESTINATIONS C
								  WHERE A.LICENSE_PLATE = @LICENSE_PLATE AND B.[RESOURCE] = C.DESTINATION 
								  ORDER BY B.SDO 
				                  
								  RETURN 0 
							   END
					   END		   
					-- 1.11 UNKNOWN LICENSE PLATE FUNCTIONAL ALLOCATION   
					ELSE 
					   BEGIN
						  IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'UNKNOWN_LICENSE_PLATE' AND SYS_VALUE='TRUE')
						     BEGIN 
						         SET @REASON = '12'
						         
								 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
								 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
								 WHERE A.FUNCTION_TYPE = 'UNLP' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
						         
						         RETURN 0
						     END 
						  ELSE    
						   	 BEGIN 		 
								  SET @REASON = '12'
						            
								  SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON, DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
								  FROM DESTINATIONS WHERE DESTINATION = 'MES'
						           
								  RETURN 0
							 END	  
					   END
				  
			     END	        
        END
     -- 2. ENCODED BY FLIGHT NUMBER
     ELSE IF (@ENCODED_TYPE = '2')
        BEGIN 
            -- 2.1 UNKNOWN FLIGHT BAG SORTATION
            IF NOT EXISTS(SELECT * FROM FLIGHT_PLAN_SORTING   
						  WHERE FLIGHT_NUMBER = @FLIGHT_NUMBER AND AIRLINE = @AIRLINE AND (CASE WHEN @COLUMN = 'STD' THEN SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN ADO ELSE ITO END END END) = @SDO)
			   BEGIN
				   SET @REASON = '11'
                   
				   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
				   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
				   WHERE A.FUNCTION_TYPE = 'UNFL' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
                   
				   RETURN 0
			   END
			-- 2.2 NO ALLOCATION SORTATION
			ELSE IF NOT EXISTS(SELECT * FROM FLIGHT_PLAN_ALLOC   
							   WHERE FLIGHT_NUMBER = @FLIGHT_NUMBER AND AIRLINE = @AIRLINE AND (CASE WHEN @COLUMN = 'STD' THEN SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN ADO ELSE ITO END END END) = @SDO)
			   BEGIN
				   SET @REASON = '13' 
	                
				   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
				   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
				   WHERE A.FUNCTION_TYPE = 'NOAL' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
	                   
				   RETURN 0
			   END
			-- 2.3 LATE BAG SORTATION
			ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'LATE_ENABLED') AND 
					@ALLOCATION_PROP = '2LATE'
			   BEGIN                      
				  SET @REASON = '5'
                      
				  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
				  FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'LATE' AND A.[RESOURCE] = B.DESTINATION
                  
				  RETURN 0
			   END
			-- 2.4 HOT BAG SORTATION   
			ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'RUSH_ENABLED') AND 
					@ALLOCATION_PROP = 'RUSH'
			   BEGIN
				  SET @REASON = '4'
                  
				  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
				  FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'RUSH' AND A.[RESOURCE] = B.DESTINATION 
                  
				  RETURN 0 
			   END 
			-- 2.5 EARLY BAG SORTATION    
			ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'ERLY_ENABLED') AND 
					@ALLOCATION_PROP = 'EARLY'
			   BEGIN
				  SET @REASON = '3'
                  
				  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
				  FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'ERLY' AND A.[RESOURCE] = B.DESTINATION
                  
				  RETURN 0
			   END
			-- 2.6 FLIGHT ALLOCATION SORTATION
			ELSE IF EXISTS(SELECT * FROM FLIGHT_PLAN_ALLOC WHERE AIRLINE = @AIRLINE AND FLIGHT_NUMBER = @FLIGHT_NUMBER AND 
			               (CASE WHEN @COLUMN = 'STD' THEN SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN ADO ELSE ITO END END END) = @SDO)
			   BEGIN
				  SET @REASON = '1' 
                  
				  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
				  FROM FLIGHT_PLAN_ALLOC A, DESTINATIONS B
				  WHERE A.AIRLINE = @AIRLINE AND A.FLIGHT_NUMBER = @FLIGHT_NUMBER AND 
				       (CASE WHEN @COLUMN = 'STD' THEN A.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN A.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN A.ADO ELSE A.ITO END END END) = @SDO AND A.[RESOURCE] = B.DESTINATION 
				  ORDER BY (CASE WHEN @COLUMN = 'STD' THEN A.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN A.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN A.ADO ELSE A.ITO END END END) 
                  
				  RETURN 0 
			   END
			-- 2.7 DEFAULT DESTINATION : MES   
		    ELSE 
		       BEGIN
		           SET @REASON = '0'
		           
		           SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON, DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
				   FROM DESTINATIONS WHERE DESTINATION = 'MES'
		           
		           RETURN 0
		       END   
        END
     -- 4. ENCODED BY : PROBLEM BAG
     ELSE IF (@ENCODED_TYPE = '4')
        BEGIN 
             IF EXISTS(SELECT * FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B WHERE A.FUNCTION_TYPE = 'PROB' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION)
               BEGIN   
                 SET @REASON = '14'
                 
                 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
			     FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
			     WHERE A.FUNCTION_TYPE = 'PROB' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
			    
			     RETURN 0
			   END
			 ELSE 
			   BEGIN
			     SET @REASON = '14'
			     
			     SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON, DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
				 FROM DESTINATIONS WHERE DESTINATION = 'MES'
			     
			     RETURN 0  
			   END   
         END
     -- 6. ENCODED BY : AIRLINE   
     ELSE IF (@ENCODED_TYPE = '6')  
        BEGIN
               -- GET AIRLINE'S DESTINATION
			   SELECT @DESTINATION = B.LOCATION_ID FROM AIRLINES A, DESTINATIONS B WHERE A.DESTINATION = B.DESTINATION AND A.CODE_IATA = @AIRLINE 
		       
			   -- CARRIER SORTING OPTION 
			   IF (SELECT SYS_VALUE FROM SYS_CONFIG WHERE SYS_KEY = 'AIRLINE_SORT_ENABLED') = 'TRUE'
		           
				   IF (@DESTINATION != '0' AND @DESTINATION != '')
					 BEGIN
						 SET @REASON = '16'
		                 
		                 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION  
						 FROM AIRLINES A, DESTINATIONS B WHERE A.DESTINATION = B.DESTINATION AND A.CODE_IATA = @AIRLINE 
		                 
						 RETURN 0
					 END  
				   ELSE 
					 BEGIN
						 SET @REASON = '13'  
		                 
						 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
						 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
						 WHERE A.FUNCTION_TYPE = 'NOAL' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
		                 
						 RETURN 0
					 END
				-- DEFAULT DESTINATION : MES   
				ELSE 
					BEGIN 
					      IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'UNKNOWN_LICENSE_PLATE' AND SYS_VALUE='TRUE')
							 BEGIN 
								 SET @REASON = '12'
						         
								 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON, B.DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION
								 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
								 WHERE A.FUNCTION_TYPE = 'UNLP' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
						         
								 RETURN 0
							 END 
						  ELSE    
		   					 BEGIN 		 
								  SET @REASON = '12'
						            
								  SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON, DESTINATION AS [DESTINATION_DESCR], (SELECT R.DESCRIPTION FROM SORTATION_REASON R WHERE R.REASON = @REASON) AS R_DESCRIPTION 
								  FROM DESTINATIONS WHERE DESTINATION = 'MES'
						           
								  RETURN 0
							 END
					END  
        END
	ELSE IF (@ENCODED_TYPE = '3')
	    BEGIN
		            SELECT D.LOCATION_ID AS DESTINATION, '' AS REASON, D.DESTINATION AS [DESTINATION_DESCR], '' AS R_DESCRIPTION 
					FROM DESTINATIONS D
					WHERE D.DESTINATION = @SORTDESTINATION 
		END 
END     
