-- ##########################################################################
-- Description: SQL Scripts of creating BHS Solution Database [BHSDB].
-- Release#:    R1.0
-- Release On:  15 Mar 2010
-- Filename:    1.1.SYS_CreateDB.sql
-- Histories:
--				R1.0 - Released on 15 Mar 2010.
-- ##########################################################################


PRINT 'STEP 1.1 - Creating BHS Solution Database.'

EXEC msdb.dbo.sp_delete_database_backuphistory @database_name = N'BHSDB'

USE [master]
GO

/****** Object:  Database [BHSDB]    Script Date: 7/24/2004 4:49:22 PM ******/
IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'BHSDB')
BEGIN
	PRINT 'WARN: BHS Solution Database has been existed! It will be dropped...'
	DROP DATABASE [BHSDB]
END
GO

/****** Object:  Database [BHSDB]    Script Date: 10/08/2007 13:01:54 ******/
PRINT 'INFO: Creating the new BHS Solution Database...'
CREATE DATABASE [BHSDB] ON  PRIMARY 
( NAME = N'BHSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\BHSDB.mdf' , 
		SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BHSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\BHSDB_log.LDF' , 
		SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'BHSDB', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BHSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [BHSDB] SET DB_CHAINING OFF 

PRINT 'INFO: End of STEP 1.1'

