/***************************************************************************************
 Description:	SQL Script to insert test records into DB table.
 Created By:	XJ
 Date:			12 Jun 2008
***************************************************************************************/

USE [BHSDB]
GO

SELECT * FROM [CCTV_MDS_SENT_DATA_LOGGING]
SELECT * FROM [CCTV_RECEIVED_DATA_LOGGING]

/*
SELECT * FROM [MDS_LOGS]  
SELECT * FROM [MDS_ALARMS]
SELECT * FROM [CCTV_MDS_OUTGOING_ALARMS]
SELECT * FROM [CCTV_MDS_ACTIVATED_ALARMS] 
SELECT * FROM [CCTV_MDS_DEACTIVATED_ALARMS]
SELECT * FROM [CCTV_MDS_SPOT_COMMANDS]
SELECT * FROM [CCTV_STATUS_CODES]
SELECT * FROM [CCTV_STATUS]
SELECT * FROM [CCTV_DEACTIVATED_ALARMS]

DELETE FROM [MDS_LOGS] 
DELETE FROM [MDS_ALARMS]
DELETE FROM [CCTV_MDS_SENT_DATA_LOGGING]
DELETE FROM [CCTV_RECEIVED_DATA_LOGGING]
DELETE FROM [CCTV_STATUS]


DELETE FROM [CCTV_MDS_ACTIVATED_ALARMS] 
DELETE FROM [CCTV_MDS_DEACTIVATED_ALARMS]
DELETE FROM [CCTV_MDS_OUTGOING_ALARMS]
DELETE FROM [CCTV_MDS_SPOT_COMMANDS]

-- Insert new MDS alarm
INSERT INTO [CCTV_MDS_ACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[ALARM_DESCRIPTION],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-01','AA_TRIP','Motor trip','CAM','0001','01')
INSERT INTO [CCTV_MDS_ACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[ALARM_DESCRIPTION],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-02','AA_CNFT','Conveyor fault','CAM','0002','01')
INSERT INTO [CCTV_MDS_ACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[ALARM_DESCRIPTION],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-03','AA_BJAM','Bag jam','CAM','0003','01')
INSERT INTO [CCTV_MDS_ACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[ALARM_DESCRIPTION],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-04','AA_TRIP','Motor trip','CAM','0001','02')
INSERT INTO [CCTV_MDS_ACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[ALARM_DESCRIPTION],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-05','AA_CNFT','Conveyor fault','CAM','0002','02')
INSERT INTO [CCTV_MDS_ACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[ALARM_DESCRIPTION],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-06','AA_BJAM','Bag jam','CAM','0003','02')

-- Insert new Spot Display Command
INSERT INTO [CCTV_MDS_SPOT_COMMANDS] ([CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES ('CAM','0005','01')


-- Insert CCTV alarm 
INSERT INTO [BHSDB].[dbo].[CCTV_STATUS] ([TIME_STAMP],[CCTV_DEVICE_ID],[CCTV_STATUS_TYPE],[CCTV_STATUS_CODE],[CCTV_STATUS_DESCRIPTION])
     VALUES(GETDATE(),'0001','ALARM','CAMSGN','Camera singnal lost')
INSERT INTO [BHSDB].[dbo].[CCTV_STATUS] ([TIME_STAMP],[CCTV_DEVICE_ID],[CCTV_STATUS_TYPE],[CCTV_STATUS_CODE],[CCTV_STATUS_DESCRIPTION])
     VALUES(GETDATE(),'0002','ALARM','CAMSGN','Camera singnal lost')
INSERT INTO [BHSDB].[dbo].[CCTV_STATUS] ([TIME_STAMP],[CCTV_DEVICE_ID],[CCTV_STATUS_TYPE],[CCTV_STATUS_CODE],[CCTV_STATUS_DESCRIPTION])
     VALUES(GETDATE(),'0003','ALARM','CAMSGN','Camera singnal lost')
INSERT INTO [BHSDB].[dbo].[CCTV_STATUS] ([TIME_STAMP],[CCTV_DEVICE_ID],[CCTV_STATUS_TYPE],[CCTV_STATUS_CODE],[CCTV_STATUS_DESCRIPTION])
     VALUES(DATEADD(minute,-10,GETDATE()),'0001','ALARM','NVRARC','CCTV NVR Archive Fail')
INSERT INTO [BHSDB].[dbo].[CCTV_STATUS] ([TIME_STAMP],[CCTV_DEVICE_ID],[CCTV_STATUS_TYPE],[CCTV_STATUS_CODE],[CCTV_STATUS_DESCRIPTION])
     VALUES(DATEADD(minute,-10,GETDATE()),'0002','ALARM','NVRDSK','CCTV NVR Archive Fail')
INSERT INTO [BHSDB].[dbo].[CCTV_STATUS] ([TIME_STAMP],[CCTV_DEVICE_ID],[CCTV_STATUS_TYPE],[CCTV_STATUS_CODE],[CCTV_STATUS_DESCRIPTION])
     VALUES(DATEADD(minute,-10,GETDATE()),'0003','ALARM','NVRMEM','CCTV NVR Memory Uasge Exceed Limit')



-- Insert de-activated MDS alarm
INSERT INTO [CCTV_MDS_DEACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-01','AA_TRIP','CAM','0001','01')
INSERT INTO [CCTV_MDS_DEACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-02','AA_CNFT','CAM','0002','01')
INSERT INTO [CCTV_MDS_DEACTIVATED_ALARMS] ([TIME_STAMP],[SUBSYSTEM],[EQUIPMENT_ID],[ALARM_TYPE],[CCTV_DEVICE_TYPE],[CCTV_DEVICE_ID],[CCTV_CAMERA_POSITION_ID])
     VALUES (GETDATE(), 'CT01','CT01-03','AA_BJAM','CAM','0003','01')

-- Insert CCTV deactivated alarm
INSERT INTO [BHSDB].[dbo].[CCTV_DEACTIVATED_ALARMS] ([CCTV_DEVICE_ID],[CCTV_STATUS_CODE]) VALUES('0001','CAMSGN')
INSERT INTO [BHSDB].[dbo].[CCTV_DEACTIVATED_ALARMS] ([CCTV_DEVICE_ID],[CCTV_STATUS_CODE]) VALUES('0002','CAMSGN')
INSERT INTO [BHSDB].[dbo].[CCTV_DEACTIVATED_ALARMS] ([CCTV_DEVICE_ID],[CCTV_STATUS_CODE]) VALUES('0003','CAMSGN')

*/
