<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="BHS.EventLog" type="BHS.EventLog.Configuration.AppSectionHandler, BHS.EventLog" requirePermission="false" />
  </configSections>

  <BHS.EventLog>
    <Parameters>
      <add name="SQL_SERVER_CONNECTION1" data="SERVER=10.1.129.43;UID=sacdbuser;PWD=sac@interr0l1er;DATABASE=BHSDB;CONNECTION TIMEOUT=10;MIN POOL SIZE=1;MAX POOL SIZE=300;" remark="system.data.sqlclient" enable ="true"/>
      <add name="SQL_SERVER_CONNECTION2" data="SERVER=10.1.129.43;UID=sacdbuser;PWD=sac@interr0l1er;DATABASE=BHSDB;CONNECTION TIMEOUT=10;MIN POOL SIZE=1;MAX POOL SIZE=300;" remark="system.data.sqlclient" enable ="true"/>
      <add name="DTP_PICKER_SIZE" data="390, 180" remark="Date Time Picker dialog's width and height" enable ="true"/>
      <add name="APP_TITLE" data="Event Log Viewer" remark="Operational Event Log" enable ="true"/>
      <add name="LAST_TRANSACTION_LOG_LIST" data=" ,5,10,20,50,100,150,200,250,300" remark="Last transaction log population" enable="true" />
      <add name="SUB_SYSTEM_COL_SHOW" data="TRUE" remark="Hide/Show Sub-System column, TRUE/FALSE" enable ="true"/>
      <add name="SUB_SYSTEM_LIST" data="MES" remark="Sub-System List" enable ="true"/>
      <add name="SUB_SYSTEM" data="MES" remark="Event Log display type, ALL,DA,BHIDS,MES,EBS,BIS" enable ="true"/>
    </Parameters>
  </BHS.EventLog>
  
  <log4net>

    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${PALS_LOG}/UniversalEvent.log" />
      <param name="AppendToFile" value="True" />
      <param name="DatePattern" value=".yyyyMMdd" />
      <staticLogFileName value="false" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p - %m%n" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <!-- Level value can be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>

  </log4net>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>