USE [BHSDB_CLT]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_INSERT_ITEM_READY_FROM_LOCAL]    Script Date: 04-04-2014 12:22:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_MES_INSERT_ITEM_READY_FROM_LOCAL]
	@ITEM_READY ITEM_READY_TABLETYPE READONLY
AS
BEGIN
	SET NOCOUNT ON;
	
	INSERT INTO ITEM_READY ([TIME_STAMP], [GID], [LOCATION], [PLC_INDEX]) 
	SELECT TIME_STAMP, GID, LOCATION, PLC_INDEX FROM @ITEM_READY

END
