USE [BHSDB_CLT_LOCAL]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_INSERT_FUNCTION_ALLOC_LIST]    Script Date: 04-04-2014 6:06:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_MES_INSERT_FUNCTION_ALLOC_LIST]
	@FUNCTION_ALLOC_LIST_TABLETYPE FUNCTION_ALLOC_LIST_TABLETYPE READONLY
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM FUNCTION_ALLOC_LIST;
	
    INSERT INTO FUNCTION_ALLOC_LIST ( [TIME_STAMP], [FUNCTION_TYPE], [RESOURCE], [IS_ENABLED], [SYS_TAB_NAME], [SYS_ACTION]) 
	SELECT 	[TIME_STAMP], [FUNCTION_TYPE], [RESOURCE], [IS_ENABLED], [SYS_TAB_NAME], [SYS_ACTION] 
    FROM @FUNCTION_ALLOC_LIST_TABLETYPE

END
