USE [BHSDB_CLT_LOCAL]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_INSERT_BAGSORTING]    Script Date: 04-04-2014 2:32:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_MES_INSERT_BAGSORTING]
	@BAG_SORTING_TABLETYPE BAG_SORTING_TABLETYPE READONLY
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM BAG_SORTING;
	
    INSERT INTO BAG_SORTING ([DATA_ID],[TIME_STAMP],[DICTIONARY_VERSION],[SOURCE],[AIRPORT_CODE],[LICENSE_PLATE],[AIRLINE],[FLIGHT_NUMBER],[SDO],
				[DESTINATION],[TRAVEL_CLASS],[INBOUND_AIRLINE],[INBOUND_FLIGHT_NUMBER],[INBOUND_SDO],[INBOUND_AIRPORT_CODE],
				[INBOUND_TRAVEL_CLASS],[ONWARD_AIRLINE],[ONWARD_FLIGHT_NUMBER],[ONWARD_SDO],[ONWARD_AIRPORT_CODE],[ONWARD_TRAVEL_CLASS],
				[SURNAME],[GIVEN_NAME],[OTHERS_NAME],[NO_PASSENGER_SAME_SURNAME],[BAG_EXCEPTION],
				[CHECK_IN_COUNTER],[CHECK_IN_COUNTER_DESCRIPTION],[CHECK_IN_TIME_STAMP],[CHECK_IN_CARRIAGE_MEDIUM],[CHECK_IN_TRANSPORT_ID],[TAG_PRINTER_ID],
				[RECONCILIATION_LOAD_AUTHORITY],[RECONCILIATION_SEAT_NUMBER],[RECONCILIATION_PASSENGER_STATUS],[RECONCILIATION_SEQUENCE_NUMBER],[RECONCILIATION_SECURITY_NUMBER],[RECONCILIATION_PASSENGER_PROFILES_STATUS],
				[RECONCILIATION_TRANSPORT_AUTHORITY],[RECONCILIATION_BAG_TAG_STATUS],[HANDLING_TERMINAL],[HANDLING_BAR],[HANDLING_GATE],[WEIGHT_INDICATOR],[WEIGHT_CHECKED_BAG_NUMBER],
				[CHECKED_WEIGHT],[UNCHECKED_WEIGHT],[WEIGHT_UNIT],[WEIGHT_LENGTH],[WEIGHT_WIDTH],[WEIGHT_HEIGHT],[WEIGHT_BAG_TYPE_CODE],
				[GROUND_TRANSPORT_EARLIEST_DELIVERY],[GROUND_TRANSPORT_LATEST_DELIVERY],[GROUND_TRANSPORT_DESCRIPTION],
				[FREQUENT_TRAVELLER_ID_NUMBER],[FREQUENT_TRAVELLER_TIER_ID],[CORPORATE_NAME],[AUTOMATED_PNR_ADDRESS],[MESSAGE_PRINTER_ID],
				[INTERNAL_AIRLINE_DATA],[SECURITY_SCREENING_INSTRUCTION],[SECURITY_SCREENING_RESULT],[SECURITY_SCREENING_RESULT_REASON],
				[SECURITY_SCREENING_RESULT_METHOD],[SECURITY_SCREENING_AUTOGRAPH],[SECURITY_SCREENING_FREE_TEXT],[HIGH_RISK],[HBS_LEVEL_REQUIRED],[CREATED_BY]) 
	SELECT [DATA_ID],[TIME_STAMP],[DICTIONARY_VERSION],[SOURCE],[AIRPORT_CODE],[LICENSE_PLATE],[AIRLINE],[FLIGHT_NUMBER],[SDO],
				[DESTINATION],[TRAVEL_CLASS],[INBOUND_AIRLINE],[INBOUND_FLIGHT_NUMBER],[INBOUND_SDO],[INBOUND_AIRPORT_CODE],
				[INBOUND_TRAVEL_CLASS],[ONWARD_AIRLINE],[ONWARD_FLIGHT_NUMBER],[ONWARD_SDO],[ONWARD_AIRPORT_CODE],[ONWARD_TRAVEL_CLASS],
				[SURNAME],[GIVEN_NAME],[OTHERS_NAME],[NO_PASSENGER_SAME_SURNAME],[BAG_EXCEPTION],
				[CHECK_IN_COUNTER],[CHECK_IN_COUNTER_DESCRIPTION],[CHECK_IN_TIME_STAMP],[CHECK_IN_CARRIAGE_MEDIUM],[CHECK_IN_TRANSPORT_ID],[TAG_PRINTER_ID],
				[RECONCILIATION_LOAD_AUTHORITY],[RECONCILIATION_SEAT_NUMBER],[RECONCILIATION_PASSENGER_STATUS],[RECONCILIATION_SEQUENCE_NUMBER],[RECONCILIATION_SECURITY_NUMBER],[RECONCILIATION_PASSENGER_PROFILES_STATUS],
				[RECONCILIATION_TRANSPORT_AUTHORITY],[RECONCILIATION_BAG_TAG_STATUS],[HANDLING_TERMINAL],[HANDLING_BAR],[HANDLING_GATE],[WEIGHT_INDICATOR],[WEIGHT_CHECKED_BAG_NUMBER],
				[CHECKED_WEIGHT],[UNCHECKED_WEIGHT],[WEIGHT_UNIT],[WEIGHT_LENGTH],[WEIGHT_WIDTH],[WEIGHT_HEIGHT],[WEIGHT_BAG_TYPE_CODE],
				[GROUND_TRANSPORT_EARLIEST_DELIVERY],[GROUND_TRANSPORT_LATEST_DELIVERY],[GROUND_TRANSPORT_DESCRIPTION],
				[FREQUENT_TRAVELLER_ID_NUMBER],[FREQUENT_TRAVELLER_TIER_ID],[CORPORATE_NAME],[AUTOMATED_PNR_ADDRESS],[MESSAGE_PRINTER_ID],
				[INTERNAL_AIRLINE_DATA],[SECURITY_SCREENING_INSTRUCTION],[SECURITY_SCREENING_RESULT],[SECURITY_SCREENING_RESULT_REASON],
				[SECURITY_SCREENING_RESULT_METHOD],[SECURITY_SCREENING_AUTOGRAPH],[SECURITY_SCREENING_FREE_TEXT],[HIGH_RISK],[HBS_LEVEL_REQUIRED],[CREATED_BY] FROM @BAG_SORTING_TABLETYPE

END
