USE [BHSDB_CLT_LOCAL]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_REMOVELOCALINSERTEDDATA]    Script Date: 04-04-2014 12:21:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_MES_REMOVELOCALINSERTEDDATA]
AS
BEGIN
	SET NOCOUNT ON;
	
	DELETE FROM ITEM_REMOVED;
	DELETE FROM ITEM_ENCODED;
	DELETE FROM ITEM_READY

END
