USE [BHSDB_CLT_LOCAL]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_INSERT_ITEM_REMOVED]    Script Date: 2014/4/5 11:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_MES_INSERT_ITEM_REMOVED]
	@GID varchar(10), 
	@LOCATION varchar(10), 
	@PLC_INDEX varchar(10),
	@LICENSE_PLATE VARCHAR(10)
AS
BEGIN
	 INSERT INTO ITEM_REMOVED(TIME_STAMP,GID, LOCATION, PLC_INDEX, LICENSE_PLATE)
	 VALUES(GETDATE(),@GID, @LOCATION, @PLC_INDEX, @LICENSE_PLATE)
	
END


