USE [BHSDB_CLT]
GO
/****** Object:  StoredProcedure [dbo].[stp_SAC_GETIRDVALUES]    Script Date: 2014/3/31 13:51:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[stp_SAC_GETIRDVALUES] (
	@SCANNER_STATUS VARCHAR(2),
	@LICENSE_PLATE VARCHAR(10),
	@ALLOCATION_PROP VARCHAR(10)
	)
AS
DECLARE 
    @AIRLINE VARCHAR(3),
    @FLIGHT_NUMBER VARCHAR(5),
    @SDO DATETIME ,
    @TRAVEL_CLASS VARCHAR(1),
    @RECONCILIATION_PASSENGER_STATUS VARCHAR(1),
    @STATUS CHAR(2),
    @COLUMN VARCHAR(3),
    @REASON VARCHAR(2),
    @DESTINATION VARCHAR(10)
BEGIN
    SET @AIRLINE = NULL
    SET @FLIGHT_NUMBER = NULL
    SET @SDO = NULL
    
    SELECT @COLUMN = SYS_VALUE FROM SYS_CONFIG WHERE SYS_KEY = 'ALLOC_OPEN_RELATED'
    
    IF (@SCANNER_STATUS = '2')
        -- STEP 1. SCANNER NO READ
        BEGIN
           IF (EXISTS(SELECT [RESOURCE] FROM FUNCTION_ALLOC_LIST A WHERE A.FUNCTION_TYPE = 'NORD' AND A.IS_ENABLED = 1))
              BEGIN 
                  SET @REASON = '6'
                  
                  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
                  FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
                  WHERE A.FUNCTION_TYPE = 'NORD' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
              END
           ELSE 
              BEGIN
                  SET @REASON = '6'
                  SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON FROM DESTINATIONS WHERE DESTINATION = 'MES'   
              END
           RETURN 0
        END
          
        -- END OF STEP 1
    ELSE IF (@SCANNER_STATUS = '8' OR @SCANNER_STATUS = '7')
        -- STEP 2. SCANNER READ, BUT MULTIPLE TAG WITH THE SAME TYPE 
        BEGIN
            IF (EXISTS(SELECT [RESOURCE] FROM FUNCTION_ALLOC_LIST WHERE FUNCTION_TYPE = 'BMLP' AND IS_ENABLED = 1))
                BEGIN
                    SET @REASON = '10'
                
                    SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
                    FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
                    WHERE A.FUNCTION_TYPE = 'BMLP' AND A.IS_ENABLED = 1 AND A.RESOURCE = B.DESTINATION 
                END
            ELSE 
                BEGIN
                    SET @REASON = '10'
                    SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON FROM DESTINATIONS WHERE DESTINATION = 'MES'  
                END
            RETURN 0
        END
        -- END OF STEP 2
    ELSE IF (@SCANNER_STATUS NOT IN ('1','2','3','7','8'))
        -- STEP 3. OTHER SCANNER STATUS. 4 - INDEX ERROR, 5 - NO ANSWER, 6 - SCANNER FAILUER 
        BEGIN
            SET @REASON = '0'
            SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON FROM DESTINATIONS WHERE DESTINATION = 'MES' 
            RETURN 0
        END 
        -- END OF STEP 3
    ELSE IF (@SCANNER_STATUS = '1' OR @SCANNER_STATUS = '3')
        -- STEP 4. SCANNER READ OK 
        BEGIN
             -- STEP 4.1 IDENTIFY TYPE OF TAG (4 PIER TAG, FALLBACK TAG, IATA TAG)
             IF (LEFT(@LICENSE_PLATE,1)='1') AND LEN(LTRIM(RTRIM(@LICENSE_PLATE))) = 10
                -- FALLBACK TAG 
                BEGIN 
                    IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'FALLBACK_SORT_ENABLED' AND SYS_VALUE='TRUE') AND
                       EXISTS(SELECT * FROM SYS_CONFIG WHERE SYS_KEY = 'AIRPORT_LOCATION_CODE' AND SYS_VALUE = RIGHT(LEFT(@LICENSE_PLATE,8),4))
                       
                       -- HAVE TO CHECK VALIDITY OF AIRPORT CODE AND ABILITY TO SORT BY FALLBACK TAG 
                       BEGIN 
                     		SET @REASON = '2'
		                    
							SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
							FROM FALLBACK_MAPPING A,DESTINATIONS B WHERE A.DESTINATION = B.DESTINATION AND ID = RIGHT(LTRIM(RTRIM(@LICENSE_PLATE)),2) AND B.IS_AVAILABLE = 1
		                    
							RETURN 0
					   END
					ELSE
					   -- IF FALLBACK SORTATION DISABLED && NOT VALID OF AIRPORT CODE, CONSIDER AS UNKNOWN LICENSE PLATE
					   BEGIN
					        IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'UNKNOWN_LICENSE_PLATE' AND SYS_VALUE='TRUE')
										 BEGIN 
											 SET @REASON = '20'
									         
											 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
											 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
											 WHERE A.FUNCTION_TYPE = 'UNLP' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
									         
										 END 
							 ELSE
						   				 BEGIN
											  SET @REASON = '20'
									          
											  SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON FROM DESTINATIONS WHERE DESTINATION = 'MES'
									          
										 END
							RETURN 0 
					   END   		
                END
             ELSE IF (LEFT(@LICENSE_PLATE,1) IN ('0','2','3','4','5','6','7','8','9')) AND LEN(LTRIM(RTRIM(@LICENSE_PLATE))) = 10
                -- IATA TAG 
                BEGIN
                    
                    -- CHECK EXISTENCE OF BAG SORTING DATA :- THAT'S MEAN ABLE TO SORT BY FLIGHT & OTHER SORTING OPTIONS
                    -- OTHERWISE IT WILL SORT BY CARRIER SORTATION IF CARRIER SORTATION IS ENABLED
                    -- NONE OF THE CONDITIONS ARE MET, DEFAULT DESTINATION : MES WILL BE REPLIED.
                    IF (SELECT COUNT(*) FROM BAG_SORTING WHERE LICENSE_PLATE = @LICENSE_PLATE) > 0
                       BEGIN 
                            SET @STATUS = '01'
                            
                            -- GET AIRLINE, FLIGHT NUMBER, SDO FROM BAG_SORTING (BSM) TABLE
							SELECT @AIRLINE = AIRLINE,@FLIGHT_NUMBER = FLIGHT_NUMBER,@SDO = SDO, @TRAVEL_CLASS = TRAVEL_CLASS, 
								   @RECONCILIATION_PASSENGER_STATUS = RECONCILIATION_PASSENGER_STATUS
							FROM BAG_SORTING 
							WHERE LICENSE_PLATE = @LICENSE_PLATE 
                            
					   END 
				    ELSE 
				       BEGIN
				            SET @STATUS = '02'
				            
				            -- SORT BASED ON AIRLINE CODE FROM THE IATA TAG
				            SET @AIRLINE = RIGHT(LEFT(@LICENSE_PLATE,4),3)
				       END
                                                             
                    IF @STATUS = '01'
                       BEGIN
							-- IATA TAG EXCEPTIONS HANDLING
							-- 1. MULTIPLE BSM SORTING
							IF (SELECT COUNT(*) FROM BAG_SORTING WHERE LICENSE_PLATE = @LICENSE_PLATE) > 1
							   BEGIN
								   SET @REASON = '19' 
								    
								   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
								   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B
								   WHERE A.FUNCTION_TYPE = 'MBSM' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
		                           
								   RETURN 0
							   END
							-- 2. UNKNOWN FLIGHT BAG SORTING
							ELSE IF NOT EXISTS(SELECT * FROM FLIGHT_PLAN_SORTING   
											   WHERE FLIGHT_NUMBER = @FLIGHT_NUMBER AND AIRLINE = @AIRLINE AND 
											   (CASE WHEN @COLUMN = 'STD' THEN SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN ADO ELSE ITO END END END) = @SDO)
							   BEGIN
								   SET @REASON = '11'
		                           
								   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
								   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
								   WHERE A.FUNCTION_TYPE = 'UNFL' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
		                           
								   RETURN 0
							   END
							-- 3. NO ALLOCATION SORTING
							ELSE IF NOT EXISTS(SELECT * FROM FLIGHT_PLAN_ALLOC   
											   WHERE FLIGHT_NUMBER = @FLIGHT_NUMBER AND AIRLINE = @AIRLINE AND 
											   (CASE WHEN @COLUMN = 'STD' THEN SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN ADO ELSE ITO END END END) = @SDO)
							   BEGIN
								   SET @REASON = '13' 
		                            
								   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
								   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
								   WHERE A.FUNCTION_TYPE = 'NOAL' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
		                               
								   RETURN 0
							   END
							-- 4. STANDBY PASSENGER SORTING
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'STAND_BY_PASSENGER_ENABLED' AND SYS_VALUE='TRUE') AND 
									@RECONCILIATION_PASSENGER_STATUS = 'S' 
							   BEGIN
									 SET @REASON = '7'
		                                    
									 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
									 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
									 WHERE A.FUNCTION_TYPE = 'SBPB' AND A.IS_ENABLED = 1 AND A.RESOURCE = B.DESTINATION
		                                
									 RETURN 0
							   END
							-- 5. LATE BAG SORTING
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'LATE_ENABLED' AND SYS_VALUE='TRUE') AND 
									@ALLOCATION_PROP = '2LATE'
							   BEGIN                      
								  SET @REASON = '5'
		                              
								  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'LATE' AND A.[RESOURCE] = B.DESTINATION
		                          
								  RETURN 0
							   END
							-- 6. HOT BAG SORTING   
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'RUSH_ENABLED' AND SYS_VALUE='TRUE') AND 
									@ALLOCATION_PROP = 'RUSH'
							   BEGIN
								  SET @REASON = '4'
		                          
								  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'RUSH' AND A.[RESOURCE] = B.DESTINATION 
		                          
								  RETURN 0 
							   END 
							-- 7. EARLY BAG SORTING    
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'ERLY_ENABLED' AND SYS_VALUE='TRUE') AND 
									@ALLOCATION_PROP = 'EARLY'
							   BEGIN
								  SET @REASON = '3'
		                       
								  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'ERLY' AND A.[RESOURCE] = B.DESTINATION
		                          
								  RETURN 0
							   END
							-- 7. TOO EARLY BAG SORTING    
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME = 'SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'ERLY_OPEN_ENABLED' AND SYS_VALUE='TRUE') AND 
									@ALLOCATION_PROP = '2EARLY'
							   BEGIN
								  SET @REASON = '18'
		                          
								  SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON FROM FUNCTION_ALLOC_LIST A, DESTINATIONS B WHERE A.FUNCTION_TYPE = 'TERL' AND A.[RESOURCE] = B.DESTINATION
		                          
								  RETURN 0
							   END   
							-- 8. BUSINESS CLASS SORTING   
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'BUSINESS_CLASS_ENABLED' AND SYS_VALUE='TRUE') AND
									@TRAVEL_CLASS != 'F'
							   BEGIN
								   SET @REASON = '9'
		                                   
								   SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
								   FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
								   WHERE A.FUNCTION_TYPE = 'BCPB' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
		                                   
								   RETURN 0
							   END
							-- 9. FIRST CLASS SORTING
							ELSE IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'FIRST_CLASS_ENABLED' AND SYS_VALUE='TRUE') AND 
									@TRAVEL_CLASS = 'F'
							   BEGIN
									 SET @REASON = '8'
		                             
									 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
									 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
									 WHERE A.FUNCTION_TYPE = 'FCPB' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
		                             
									 RETURN 0
							   END 
							--10. FLIGHT SORTING OPTION
							ELSE IF EXISTS(SELECT * FROM BAG_SORTING A INNER JOIN FLIGHT_PLAN_ALLOC B ON (A.AIRLINE = B.AIRLINE AND A.FLIGHT_NUMBER = B.FLIGHT_NUMBER AND 
							               A.SDO =  (CASE WHEN @COLUMN = 'STD' THEN B.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN B.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN B.ADO ELSE B.ITO END END END)) WHERE A.LICENSE_PLATE = @LICENSE_PLATE)
							   BEGIN
								  SET @REASON = '1' 
		                           
								  SELECT C.LOCATION_ID AS DESTINATION, @REASON AS REASON 
								  FROM BAG_SORTING A INNER JOIN FLIGHT_PLAN_ALLOC B ON (A.AIRLINE = B.AIRLINE AND A.FLIGHT_NUMBER = B.FLIGHT_NUMBER AND 
								       A.SDO = (CASE WHEN @COLUMN = 'STD' THEN B.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN B.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN B.ADO ELSE B.ITO END END END)), DESTINATIONS C
								  WHERE A.LICENSE_PLATE = @LICENSE_PLATE AND B.[RESOURCE] = C.DESTINATION 
								  ORDER BY (CASE WHEN @COLUMN = 'STD' THEN B.SDO ELSE CASE WHEN @COLUMN = 'ETD' THEN B.EDO ELSE CASE WHEN @COLUMN = 'ATD' THEN B.ADO ELSE B.ITO END END END) 
		                          
								  RETURN 0 
							   END
							-- DEFAULT DESTINATION : MES
						    ELSE
						       BEGIN
						           SET @REASON = '0'
						            
						           SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON FROM DESTINATIONS WHERE DESTINATION = 'MES'
						           
						           RETURN 0
						       END
					   END
					ELSE IF @STATUS = '02'
					   BEGIN 
					       
					       --11. CARRIER SORTING OPTION 
                           IF (SELECT SYS_VALUE FROM SYS_CONFIG WHERE SYS_KEY = 'AIRLINE_SORT_ENABLED') = 'TRUE' AND 
                               EXISTS(SELECT B.LOCATION_ID FROM AIRLINES A, DESTINATIONS B WHERE A.DESTINATION = B.DESTINATION AND A.TICKETING_CODE = @AIRLINE) 
                               BEGIN
								   -- GET AIRLINE'S DESTINATION
								   SELECT @DESTINATION = B.LOCATION_ID FROM AIRLINES A, DESTINATIONS B WHERE A.DESTINATION = B.DESTINATION AND A.TICKETING_CODE = @AIRLINE 
						           
								   IF (@DESTINATION != '0' AND @DESTINATION != '' AND @DESTINATION != 'NULL')
									 BEGIN
										 SET @REASON = '16'
						                 
										 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON FROM AIRLINES A, DESTINATIONS B 
										 WHERE A.DESTINATION = B.DESTINATION AND A.TICKETING_CODE = @AIRLINE
						                 
										 RETURN 0
									 END
								   ELSE 
									 BEGIN
										 SET @REASON = '13'
						                 
										 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
										 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
										 WHERE A.FUNCTION_TYPE = 'NOAL' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
						                 
										 RETURN 0
									 END
					           END
					        -- SORT BY UNKNOWN LICENSE PLATE FUNCTIONAL ALLOCATION   
						    ELSE 
						        BEGIN 
						              IF EXISTS(SELECT * FROM SYS_CONFIG WHERE GROUP_NAME='SControl_Sett' AND IS_ENABLED = 1 AND SYS_KEY = 'UNKNOWN_LICENSE_PLATE' AND SYS_VALUE='TRUE')
										 BEGIN 
											 SET @REASON = '12'
									         
											 SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
											 FROM FUNCTION_ALLOC_LIST A,DESTINATIONS B 
											 WHERE A.FUNCTION_TYPE = 'UNLP' AND A.IS_ENABLED = 1 AND A.[RESOURCE] = B.DESTINATION
									         
											 RETURN 0
										 END 
									  ELSE
						   				 BEGIN
											  SET @REASON = '12'
									          
											  SELECT LOCATION_ID AS DESTINATION, @REASON AS REASON FROM DESTINATIONS WHERE DESTINATION = 'MES'
									          
											  RETURN 0
										 END
						        END     
					   END     		   
                END       
             ELSE IF LEN(LTRIM(RTRIM(@LICENSE_PLATE))) = 4
                -- 4 DIGITS SORTATION TAG 
                BEGIN
                    SET @REASON = '17'
                    
                    SELECT B.LOCATION_ID AS DESTINATION, @REASON AS REASON
                    FROM FOUR_DIGITS_FALLBACK_MAPPING A, DESTINATIONS B WHERE A.DESTINATION = B.DESTINATION AND ID = LTRIM(RTRIM(@LICENSE_PLATE))
                    
                    RETURN 0
                END 
        END 
        -- END OF STEP 4
    
       
END


