-- ##########################################################################
-- Release#:    R1.0
-- Release On:  15 Mar 2010
-- Filename:    Step2.3.SAC_InsertINIData.sql
-- Description: SQL Scripts of Inserting initial data records into BHS Solution Database.
--    Tables in which the initial data need to be inserted:
--    00. [HIGH_RISK_NEEDED]
--    01. [EVENT_TYPES]
--    02. [AIRPORTS]
--    03. [AIRCRAFT_TYPES]
--    04. [HANDLER]
--    05. [ROLES]
--    06. [BSM_FI_ACTIONS]
--    07. [SCHEME_TYPE]
--    08. [MONTH_CONFIG]
--    09. [WEEKDAY_CONFIG]
--    10. [HOUR_CONFIG]
--    11. [SUBSYSTEMS]
--    12. [ALLOC_RESOURCES]
--    13. [DESTINATIONS]
--    15. [AIRLINES]
--    16. [FUNCTION_TYPE_GROUPS]
--    17. [FUNCTION_TYPES]
--    18. [FUNCTION_ALLOC_LIST]
--    19. [SYS_CONFIG]
--    20. [ITEM_SCAN_STATUS_TYPES]
--    21. [ITEM_SCREEN_RESULT_TYPES]
--    22. [ITEM_PROCEED_TYPES]
--    23. [ITEM_SORTATION_EVENT_TYPES]
--    24. [SORTATION_REASON]]
--    25. [LOCATION_STATUS_TYPES]
--	  26. [ITEM_ENCODING_REQUEST_TYPES]
--    26. [SAC_OWS]
--    27. [CHANGE_MONITORING]
--    28. [APP_LIVE_STATUS_TYPES]
--    29. [APP_LIVE_MONITORING]
--    30. [FALLBACK_MAPPING]
--    32. [LOCATIONS]
--    33. [PICTURES]
--	  37. [ROUTING_TABLE]
--    38. [SECURITY_CATEGORIES]
--    39. [SECURITY_TASKS]
--    40. [SECURITY_GROUPS]
--    41. [SECURITY_GROUP_TASK_MAPPING]
--	  42. [SECURITY_USERS]
--    43. [ITEM_CUSTOMS_RESULT_TYPES]
--    44. [BAGGAGE_MEASURE_ARRAY_TYPE]
--    45. [CHUTE_MAPPING]
--
-- Histories:
--				R1.0 - Released on 15 Mar 2010.
-- ##########################################################################


USE [BHSDB]
GO


PRINT 'INFO: STEP7 - Insert BHS Solution Database Initial Data'
PRINT 'INFO: .'
PRINT 'INFO: .'
PRINT 'INFO: .'
GO
PRINT 'INFO: Begining of Deleting Existing Initial Data...'
GO

/* ################################################################################################### */
/* STEP 1: Delect existing records */ 


DELETE FROM [dbo].[SYS_CONFIG]
DELETE FROM [dbo].[SCHEME_TYPE]
DELETE FROM [dbo].[MONTH_CONFIG]
DELETE FROM [dbo].[WEEKDAY_CONFIG]
DELETE FROM [dbo].[HOUR_CONFIG]
DELETE FROM [dbo].[USERS_ROLES]
DELETE FROM [dbo].[USERS]
DELETE FROM [dbo].[ROLES]
DELETE FROM [dbo].[PICTURES]
DELETE FROM [dbo].[GID_USED]
DELETE FROM [dbo].[ITEM_DEST_REQUEST]
DELETE FROM [dbo].[ITEM_ENCODING_REQUEST]
DELETE FROM [dbo].[ITEM_LOST]
DELETE FROM [dbo].[ITEM_PROCEEDED]
DELETE FROM [dbo].[ITEM_PROCEED_TYPES]
DELETE FROM [dbo].[ITEM_READY]
DELETE FROM [dbo].[ITEM_REDIRECT]
DELETE FROM [dbo].[ITEM_REMOVED]
DELETE FROM [dbo].[ITEM_SCANNED]
DELETE FROM [dbo].[ITEM_SCAN_STATUS_TYPES]
DELETE FROM [dbo].[ITEM_SCREENED]
DELETE FROM [dbo].[ITEM_SCREEN_RESULT_TYPES]
DELETE FROM [dbo].[ITEM_SORTATION_EVENT]
DELETE FROM [dbo].[ITEM_SORTATION_EVENT_TYPES]
DELETE FROM [dbo].[ITEM_TRACKING]
DELETE FROM [dbo].[SORTATION_REASON]
DELETE FROM [dbo].[AIRCRAFT_TYPES]
DELETE FROM [dbo].[AIRLINES]
DELETE FROM [dbo].[AIRPORTS]
--DELETE FROM [dbo].[REPORT_FAULT]
--DELETE FROM [dbo].[REPORT_FAULT_TYPES]
DELETE FROM [dbo].[CHANGE_MONITORING]
DELETE FROM [dbo].[SAC_OWS]
DELETE FROM [dbo].[APP_LIVE_MONITORING]
DELETE FROM [dbo].[APP_LIVE_STATUS_TYPES]
DELETE FROM [dbo].[FLIGHT_PLAN_SORTING]
DELETE FROM [dbo].[FLIGHT_PLAN_ERROR]
DELETE FROM [dbo].[FLIGHT_PLAN_ALLOC]
DELETE FROM [dbo].[FLIGHT_PLANS]
DELETE FROM [dbo].[FLIGHTS]
DELETE FROM [dbo].[HANDLER]
DELETE FROM [dbo].[FUNCTION_ALLOC_GANTT]
DELETE FROM [dbo].[FUNCTION_ALLOC_LIST]
DELETE FROM [dbo].[FUNCTION_TYPES]
DELETE FROM [dbo].[FUNCTION_TYPE_GROUPS]
DELETE FROM [dbo].[TEMPLATE_FLIGHT_PLAN_ALLOC]
DELETE FROM [dbo].[ALLOC_RESOURCES]
DELETE FROM [dbo].[BAGS]
DELETE FROM [dbo].[BAG_SORTING]
DELETE FROM [dbo].[BAG_ERROR_BSM]
DELETE FROM [dbo].[BAG_INFO]
DELETE FROM [dbo].[BSM_FI_ACTIONS]
DELETE FROM [dbo].[AUDIT_LOG]
DELETE FROM [dbo].[EVENT_TYPES]
DELETE FROM [dbo].[FALLBACK_MAPPING]
DELETE FROM [dbo].[ROUTING_TABLE]
DELETE FROM [dbo].[DESTINATION_GROUPING]
DELETE FROM [dbo].[DESTINATIONS]
DELETE FROM [dbo].[LOCATIONS]
DELETE FROM [dbo].[LOCATION_STATUS_TYPES]
DELETE FROM [dbo].[ITEM_ENCODING_REQUEST_TYPES]
DELETE FROM [dbo].[SUBSYSTEM_GROUPING]
DELETE FROM [dbo].[SUBSYSTEMS]
DELETE FROM [dbo].[MES_EVENT]
DELETE FROM [dbo].[HIGH_RISK_NEEDED]
DELETE FROM [dbo].[SECURITY_USER_RIGHTS]
DELETE FROM [dbo].[SECURITY_USERS]
DELETE FROM [dbo].[SECURITY_GROUP_TASK_MAPPING]
DELETE FROM [dbo].[SECURITY_GROUPS]
DELETE FROM [dbo].[SECURITY_TASKS]
DELETE FROM [dbo].[SECURITY_CATEGORIES]
DELETE FROM [dbo].[ITEM_CUSTOMS_SCREENED]
DELETE FROM [dbo].[ITEM_CUSTOMS_RESULT_TYPES]
DELETE FROM [dbo].[BAGGAGE_MEASURE_ARRAY_MSG]
DELETE FROM [dbo].[BAGGAGE_MEASURE_ARRAY_TYPE]
DELETE FROM [dbo].[CHUTE_MAPPING]



PRINT 'INFO: End of Deleting Existing Initial Data.'
GO
PRINT 'INFO: .'
PRINT 'INFO: .'
PRINT 'INFO: .'
GO
PRINT 'INFO: Begining of Insert New Initial Data...'
GO



/* Insert data into table [HIGH_RISK_NEEDED] */
PRINT 'INFO: Inserting initial records into table [HIGH_RISK_NEEDED]...'
INSERT INTO [dbo].[HIGH_RISK_NEEDED] ([VALUE],[DESCRIPTION]) VALUES ('Y','Flight is High Risk Flight')
INSERT INTO [dbo].[HIGH_RISK_NEEDED] ([VALUE],[DESCRIPTION]) VALUES ('N','Flight is not High Risk Flight')

/* Insert data into table [EVENT_TYPES] */
PRINT 'INFO: Inserting initial records into table [EVENT_TYPES]...'
INSERT INTO [dbo].[EVENT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('DEL','DELETE DATA')
INSERT INTO [dbo].[EVENT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('INS','INSERT DATA')
INSERT INTO [dbo].[EVENT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('UPD','UPDATE DATA')

/* Insert data into table [AIRPORTS] */
PRINT 'INFO: Inserting initial records into table [AIRPORTS]...'
INSERT INTO [dbo].[AIRPORTS] ([CODE_IATA],[CODE_ICAO],[COUNTRY],[CITY],[NAME]) VALUES ('DXB','OMDB','UAE','DUBAI','DUBAI T1 INTERNATIONAL AIRPORT')
INSERT INTO [dbo].[AIRPORTS] ([CODE_IATA],[CODE_ICAO],[COUNTRY],[CITY],[NAME]) VALUES ('PTY','MPTO','Panama','Panamá','Panama City-Tocumen International')
INSERT INTO [dbo].[AIRPORTS] ([CODE_IATA],[CODE_ICAO],[COUNTRY],[CITY],[NAME]) VALUES ('SIN','WSSS','Singapore','Singapore','Singapore-Changi Airport')

/* Insert data into table [AIRCRAFT_TYPES] */
PRINT 'INFO: Inserting initial records into table [AIRCRAFT_TYPES]...'
INSERT INTO [dbo].[AIRCRAFT_TYPES] ([TYPE],[MAX_PAX],[DESCRIPTION]) VALUES ('319','129','Airbus Industrie A319')
INSERT INTO [dbo].[AIRCRAFT_TYPES] ([TYPE],[MAX_PAX],[DESCRIPTION]) VALUES ('320','171','Airbus Industrie A320 All series')
INSERT INTO [dbo].[AIRCRAFT_TYPES] ([TYPE],[MAX_PAX],[DESCRIPTION]) VALUES ('330','295','All Models of A330')

--/* Insert data into table [HANDLER] */
PRINT 'INFO: Inserting initial records into table [HANDLER]...'
INSERT INTO [dbo].[HANDLER] ([HANDLER],[NAME]) VALUES ('C','CIAS')
INSERT INTO [dbo].[HANDLER] ([HANDLER],[NAME]) VALUES ('H','Self Handled')
INSERT INTO [dbo].[HANDLER] ([HANDLER],[NAME]) VALUES ('S','SATS')

/* Insert data into table [ROLES] */
PRINT 'INFO: Inserting initial records into table [ROLES]...'
INSERT INTO [dbo].[ROLES] ([ID],[DESCRIPTION]) VALUES ('ADMIN','Administration')
INSERT INTO [dbo].[ROLES] ([ID],[DESCRIPTION]) VALUES ('OPERATOR','Normal Operator')
INSERT INTO [dbo].[ROLES] ([ID],[DESCRIPTION]) VALUES ('PLANNER','Flight Planner')


/* Insert data into table [BSM_FI_ACTIONS] */
PRINT 'INFO: Inserting initial records into table [BSM_FI_ACTIONS]...'
INSERT INTO [dbo].[BSM_FI_ACTIONS] ([ACTION],[DESCRIPTION]) VALUES ('NEW','Add in new BSM or Flight information')
INSERT INTO [dbo].[BSM_FI_ACTIONS] ([ACTION],[DESCRIPTION]) VALUES ('UPD','Update existing BSM or Flight information')
INSERT INTO [dbo].[BSM_FI_ACTIONS] ([ACTION],[DESCRIPTION]) VALUES ('DEL','Delete existing BSM or Flight information')

/* Insert data into table [SCHEME_TYPE] */
PRINT 'INFO: Inserting initial records into table [SCHEME_TYPE]...'
INSERT INTO [dbo].[SCHEME_TYPE] ([SCHEME_TYPE],[DESCRIPTION]) VALUES ('RR','Round Robin')
INSERT INTO [dbo].[SCHEME_TYPE] ([SCHEME_TYPE],[DESCRIPTION]) VALUES ('SP','Shortest Path')
INSERT INTO [dbo].[SCHEME_TYPE] ([SCHEME_TYPE],[DESCRIPTION]) VALUES ('WF','Waterfall')

/* Insert data into table [MONTH_CONFIG] */
PRINT 'INFO: Inserting initial records into table [MONTH_CONFIG]...'
INSERT INTO [dbo].[MONTH_CONFIG] ([MONTHIND],[MONTHDESC],[MONTHABB]) VALUES ('01','January','JAN')
INSERT INTO [dbo].[MONTH_CONFIG] ([MONTHIND],[MONTHDESC],[MONTHABB]) VALUES ('02','February','FEB')
INSERT INTO [dbo].[MONTH_CONFIG] ([MONTHIND],[MONTHDESC],[MONTHABB]) VALUES ('03','March','MAR')

/* Insert data into table [WEEKDAY_CONFIG] */
PRINT 'INFO: Inserting initial records into table [WEEKDAY_CONFIG]...'
INSERT INTO [dbo].[WEEKDAY_CONFIG] ([WEEKDAY],[DESCRIPTION],[WEEKDAYABB],[WEEKDAYUPPER]) VALUES ('0','Sunday','SUN','SUNDAY')
INSERT INTO [dbo].[WEEKDAY_CONFIG] ([WEEKDAY],[DESCRIPTION],[WEEKDAYABB],[WEEKDAYUPPER]) VALUES ('1','Monday','MON','MONDAY')
INSERT INTO [dbo].[WEEKDAY_CONFIG] ([WEEKDAY],[DESCRIPTION],[WEEKDAYABB],[WEEKDAYUPPER]) VALUES ('2','Tuesday','TUE','TUESDAY')

/* Insert data into table [HOUR_CONFIG] */
PRINT 'INFO: Inserting initial records into table [HOUR_CONFIG]...'
INSERT INTO [dbo].[HOUR_CONFIG] ([HOURIND]) VALUES ('00')
INSERT INTO [dbo].[HOUR_CONFIG] ([HOURIND]) VALUES ('01')
INSERT INTO [dbo].[HOUR_CONFIG] ([HOURIND]) VALUES ('02')


/* Insert data into table [SUBSYSTEMS] */
PRINT 'INFO: Inserting initial records into table [SUBSYSTEMS]...'
INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('CIT01','Take Away conveyor line')
INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('CIT02','Take Away conveyor line')
INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('CIT03','Take Away conveyor line')















--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC01','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC02','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC03','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC04','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC05','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC06','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC07','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC08','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC09','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC10','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC11','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC12','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC13','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC14','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC15','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC16','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC17','Make-up carousel')
--INSERT INTO [dbo].[SUBSYSTEMS] ([SUBSYSTEM],[DESCRIPTION]) VALUES ('MUC18','Make-up carousel')




/* Insert data into table [ALLOC_RESOURCES] */
PRINT 'INFO: Inserting initial records into table [ALLOC_RESOURCES]...'
INSERT INTO [dbo].[ALLOC_RESOURCES] ([ID],[RESOURCE],[SUBSYSTEM],[DESCRIPTION]) VALUES (0, 'MUC01', 'MUF01','Carousel Unit');
INSERT INTO [dbo].[ALLOC_RESOURCES] ([ID],[RESOURCE],[SUBSYSTEM],[DESCRIPTION]) VALUES (1, 'MUC02', 'MUF02','Carousel Unit');
INSERT INTO [dbo].[ALLOC_RESOURCES] ([ID],[RESOURCE],[SUBSYSTEM],[DESCRIPTION]) VALUES (2, 'MUC03', 'MUF03','Carousel Unit');
GO

/* Insert data into table [DESTINATIONS] */
PRINT 'INFO: Inserting initial records into table [DESTINATIONS]...'
INSERT INTO [BHSDB].[dbo].[DESTINATIONS] ([DESTINATION],[SUBSYSTEM],[DESCRIPTION],[IS_AVAILABLE]) VALUES ('MUC01','MUF01','Carousel Unit',1)
INSERT INTO [BHSDB].[dbo].[DESTINATIONS] ([DESTINATION],[SUBSYSTEM],[DESCRIPTION],[IS_AVAILABLE]) VALUES ('MUC02','MUF02','Carousel Unit',1)
INSERT INTO [BHSDB].[dbo].[DESTINATIONS] ([DESTINATION],[SUBSYSTEM],[DESCRIPTION],[IS_AVAILABLE]) VALUES ('MUC03','MUF03','Carousel Unit',1)

--/* Insert data into table [DESTINATION_GROUPING] */
--PRINT 'INFO: Inserting initial records into table [DESTINATION_GROUPING]...'
--INSERT INTO [BHSDB].[dbo].[DESTINATION_GROUPING] ([GROUP_NAME] ,[SUBSYSTEM] ,[LOCATION]) VALUES ('RT01','CA03','CA03-MA')
--INSERT INTO [BHSDB].[dbo].[DESTINATION_GROUPING] ([GROUP_NAME] ,[SUBSYSTEM] ,[LOCATION]) VALUES ('RT02','CA03','CA03-MB')
--INSERT INTO [BHSDB].[dbo].[DESTINATION_GROUPING] ([GROUP_NAME] ,[SUBSYSTEM] ,[LOCATION]) VALUES ('RT03','CA03','CA03-FS01')


/* Insert data into table [AIRLINES] */
PRINT 'INFO: Inserting initial records into table [AIRLINES]...'
INSERT INTO [dbo].[AIRLINES] ([CODE_IATA],[CODE_ICAO] ,[NAME],[TICKETING_CODE],[DESTINATION]) VALUES ('XX',NULL,'Test Airline - XX(955)','955','MUC01')
INSERT INTO [dbo].[AIRLINES] ([CODE_IATA],[CODE_ICAO] ,[NAME],[TICKETING_CODE],[DESTINATION]) VALUES ('YY',NULL,'Test Airline - YY(956)','956','MUC02')
INSERT INTO [dbo].[AIRLINES] ([CODE_IATA],[CODE_ICAO] ,[NAME],[TICKETING_CODE],[DESTINATION]) VALUES ('ZZ',NULL,'Test Airline - ZZ(957)','957','MUC03')

/* Insert data into table [FUNCTION_TYPE_GROUPS] */
PRINT 'INFO: Inserting initial records into table [FUNCTION_TYPE_GROUPS]...'
INSERT INTO [dbo].[FUNCTION_TYPE_GROUPS] ([GROUP],[DESCRIPTION]) VALUES ('GANTT','Group 1 for creating allocation by Gantt Chart')
INSERT INTO [dbo].[FUNCTION_TYPE_GROUPS] ([GROUP],[DESCRIPTION]) VALUES ('LIST','Group 2 for creating allocation via BHS Configuration')


/* Insert data into table [FUNCTION_TYPES] */
PRINT 'INFO: Inserting initial records into table [FUNCTION_TYPES]...'
INSERT INTO [dbo].[FUNCTION_TYPES] ([TYPE],[GROUP],[DESCRIPTION],[IS_ALLOCATED],[IS_ENABLED]) VALUES ('BMLP','LIST','Multiple License Plates',0,1)
INSERT INTO [dbo].[FUNCTION_TYPES] ([TYPE],[GROUP],[DESCRIPTION],[IS_ALLOCATED],[IS_ENABLED]) VALUES ('DTUA','LIST','Destination Unavailable',0,0)
INSERT INTO [dbo].[FUNCTION_TYPES] ([TYPE],[GROUP],[DESCRIPTION],[IS_ALLOCATED],[IS_ENABLED]) VALUES ('H2RJ','LIST','HBS Level 2 Uncleared',0,0)


/* Insert data into table [FUNCTION_ALLOC_LIST] */
PRINT 'INFO: Inserting initial records into table [FUNCTION_ALLOC_LIST]...'
INSERT INTO [dbo].[FUNCTION_ALLOC_LIST] ([FUNCTION_TYPE],[RESOURCE],[TIME_STAMP],[IS_ENABLED],[SYS_ACTION]) VALUES ('BMLP','MES01',GETDATE(),1,'Immediately')
INSERT INTO [dbo].[FUNCTION_ALLOC_LIST] ([FUNCTION_TYPE],[RESOURCE],[TIME_STAMP],[IS_ENABLED],[SYS_ACTION]) VALUES ('DTUA','MES01',GETDATE(),0,'Immediately')
INSERT INTO [dbo].[FUNCTION_ALLOC_LIST] ([FUNCTION_TYPE],[RESOURCE],[TIME_STAMP],[IS_ENABLED],[SYS_ACTION]) VALUES ('H2RJ','MES01',GETDATE(),0,'Immediately')





-- Insert data into table [SYS_CONFIG] 
-- For parameters ERLY_OPEN_ENABLED, ERLY_ENABLED, RUSH_ENABLED, LATE_ENABLED, FIS_SORT_ENABLED, AIRLINE_SORT_ENABLED,
-- FALLBACK_SORT_ENABLED, if their [IS_ENABLED] field value is 0, then their [SYS_VALUE] field value must set to FALSE.
PRINT 'INFO: Inserting initial records into table [SYS_CONFIG]...'
-- Parameters under group "Departure Allocation"
INSERT INTO [dbo].[SYS_CONFIG] ([SYS_KEY],[SYS_VALUE],[DEFAULT_VALUE],[LAST_VALUE],[DESCRIPTION],[VALUE_TOKEN],[SYS_ACTION],[GROUP_NAME],[ORDER_FLAG],[IS_ENABLED])
     VALUES ('ERLY_OPEN_OFFSET','-0100','-0100','-0100','Early Open Offset (Related to Allocation Open Time',NULL,'Immediately','Alloc_Sett','1',1)
INSERT INTO [dbo].[SYS_CONFIG] ([SYS_KEY],[SYS_VALUE],[DEFAULT_VALUE],[LAST_VALUE],[DESCRIPTION],[VALUE_TOKEN],[SYS_ACTION],[GROUP_NAME],[ORDER_FLAG],[IS_ENABLED])
     VALUES ('RUSH_DURATION','10','10','10','Rush Duration (10~59minutes)',NULL,'Immediately on new allocations','Alloc_Sett','1',1)
INSERT INTO [dbo].[SYS_CONFIG] ([SYS_KEY],[SYS_VALUE],[DEFAULT_VALUE],[LAST_VALUE],[DESCRIPTION],[VALUE_TOKEN],[SYS_ACTION],[GROUP_NAME],[ORDER_FLAG],[IS_ENABLED])
     VALUES ('ALLOC_CLOSE_OFFSET','-0020','-0020','-0020','Flight Allocation closing offset time (HHMM)',NULL,'Immediately on new allocations','Alloc_Sett','1',1)

-- Parameters under group "Sortation Control"  


-- Parameters for generating report in web browser
   




/* Insert data into table [ITEM_SCAN_STATUS_TYPES] */
PRINT 'INFO: Inserting initial records into table [ITEM_SCAN_STATUS_TYPES]...'
INSERT INTO [dbo].[ITEM_SCAN_STATUS_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('00','Read Ok, Single Tag' )
INSERT INTO [dbo].[ITEM_SCAN_STATUS_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('01','No Read' )
INSERT INTO [dbo].[ITEM_SCAN_STATUS_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('02','Read Ok, Multiple Tags' )


/* Insert data into table [ITEM_SCREEN_RESULT_TYPES] */
PRINT 'INFO: Inserting initial records into table [ITEM_SCREENED_RESULT_TYPES]...'
INSERT INTO [dbo].[ITEM_SCREEN_RESULT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('A', 'Accepted')
INSERT INTO [dbo].[ITEM_SCREEN_RESULT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('R', 'Rejected')
INSERT INTO [dbo].[ITEM_SCREEN_RESULT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('W', 'Pending')


/* Insert data into table [ITEM_PROCEED_TYPES] */
PRINT 'INFO: Inserting initial records into table [ITEM_PROCEEDED_TYPES]...'
INSERT INTO [dbo].[ITEM_PROCEED_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('00','Successfully proceeded')
INSERT INTO [dbo].[ITEM_PROCEED_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('01','Proceeded to Clear Line')
INSERT INTO [dbo].[ITEM_PROCEED_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('02','Proceeded to Alarmed Line ')

/* Insert data into table [ITEM_SORTATION_EVENT_TYPES] */
PRINT 'INFO: Inserting initial records into table [ITEM_SORTATION_TYPES]...'
INSERT INTO [dbo].[ITEM_SORTATION_EVENT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('01','Chute full')
INSERT INTO [dbo].[ITEM_SORTATION_EVENT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('02','Chute jammed')
INSERT INTO [dbo].[ITEM_SORTATION_EVENT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('03','Chute down stream conveyor line E-Stop')

/* Insert data into table [SORTATION_REASON]] */
PRINT 'INFO: Inserting initial records into table [SORTATION_REASON]...'
INSERT INTO [dbo].[SORTATION_REASON] ([REASON],[DESCRIPTION]) VALUES ('00','Sorted by Stray Bag')
INSERT INTO [dbo].[SORTATION_REASON] ([REASON],[DESCRIPTION]) VALUES ('01','Sorted by Flight Allocation')
INSERT INTO [dbo].[SORTATION_REASON] ([REASON],[DESCRIPTION]) VALUES ('02','Sorted by No-Read')


/* Insert data into table [LOCATION_STATUS_TYPES] */
PRINT 'INFO: Inserting initial records into table [LOCATION_STATUS_TYPES]...'
INSERT INTO [dbo].[LOCATION_STATUS_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('01','Chute free')
INSERT INTO [dbo].[LOCATION_STATUS_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('02','Chute full')
INSERT INTO [dbo].[LOCATION_STATUS_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('03','Chute jammed')


/* Insert data into table [ITEM_ENCODING_REQUEST_TYPES] */
PRINT 'INFO: Inserting initial records into table [ITEM_ENCODING_REQUEST_TYPES]...'
INSERT INTO [dbo].[ITEM_ENCODING_REQUEST_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('01','Encoded by License Plate Number')
INSERT INTO [dbo].[ITEM_ENCODING_REQUEST_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('02','Encoded by Flight Number')
INSERT INTO [dbo].[ITEM_ENCODING_REQUEST_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('03','Encoded by Destination')


/* Insert data into table [SAC_OWS] */
PRINT 'INFO: Inserting initial records into table [SAC_OWS]...'
INSERT INTO [dbo].[SAC_OWS] ([SAC_OWS],[DESCRIPTION]) VALUES ('SACOWS1','SAC Workstation 1');
INSERT INTO [dbo].[SAC_OWS] ([SAC_OWS],[DESCRIPTION]) VALUES ('SACOWS2','SAC Workstation 2');
INSERT INTO [dbo].[SAC_OWS] ([SAC_OWS],[DESCRIPTION]) VALUES ('MDSOWS1','MDS Workstation 1');


/* Insert data into table [CHANGE_MONITORING] */
PRINT 'INFO: Inserting initial records into table [CHANGE_MONITORING]...'
-- For runing DA application on SACOWS1,SACOWS2
INSERT INTO [dbo].[CHANGE_MONITORING] ([SAC_OWS],[STATE_CODE],[IS_CHANGED],[DESCRIPTION]) VALUES ('SACOWS1','TB_FLIGHT_PLAN_SORTING', 0, 'Change indicator of table [FLIGHT_PLANS]');
INSERT INTO [dbo].[CHANGE_MONITORING] ([SAC_OWS],[STATE_CODE],[IS_CHANGED],[DESCRIPTION]) VALUES ('SACOWS1','TB_FLIGHT_PLAN_ALLOC', 0, 'Change indicator of table [FLIGHT_PLANS_ALLOC]');
INSERT INTO [dbo].[CHANGE_MONITORING] ([SAC_OWS],[STATE_CODE],[IS_CHANGED],[DESCRIPTION]) VALUES ('SACOWS1','TB_FUNCTION_ALLOC', 0, 'Change indicator of table [FUNCTION_ALLOC]');


-- For runing DA application on MDS-OWS1

-- For runing DA application on MDS-OWS2

-- For runing DA application on SAC-COM1

-- For runing DA application on SAC-COM2

GO

/* Insert data into table [[[APP_LIVE_STATUS_TYPES]]] */
PRINT 'INFO: Inserting initial records into table [APP_LIVE_STATUS_TYPES]...'
INSERT INTO [dbo].[APP_LIVE_STATUS_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('UP', 'Connection is up.');
INSERT INTO [dbo].[APP_LIVE_STATUS_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('DOWN', 'Connection is down.');
GO

/* Insert data into table [[APP_LIVE_MONITORING]] */
PRINT 'INFO: Inserting initial records into table [APP_LIVE_MONITORING]...'
INSERT INTO [dbo].[APP_LIVE_MONITORING] ([APP_CODE],[TIME_STAMP],[LIVE_STATUS_TYPE],[DESCRIPTION]) 
	VALUES ('BHS2BIS_COMM_P', GETDATE(), 'DOWN', 'BHS-BIS primary connection status. UP:Connected, DOWN:Disconnected. Updated by GW in 30sec interval.');
INSERT INTO [dbo].[APP_LIVE_MONITORING] ([APP_CODE],[TIME_STAMP],[LIVE_STATUS_TYPE],[DESCRIPTION]) 
	VALUES ('BHS2BIS_COMM_B', GETDATE(), 'DOWN', 'BHS-BIS backup connection status. UP:Connected, DOWN:Disconnected. Updated by GW in 30sec interval.');
INSERT INTO [dbo].[APP_LIVE_MONITORING] ([APP_CODE],[TIME_STAMP],[LIVE_STATUS_TYPE],[DESCRIPTION]) 
	VALUES ('BHS2FIS_COMM_P', GETDATE(), 'DOWN', 'BHS-FIS primary connection status. UP:Connected, DOWN:Disconnected. Updated by GW in 30sec interval.');
GO





/* Insert data into table [FALLBACK_MAPPING] */
PRINT 'INFO: Inserting initial records into table [FALLBACK_MAPPING]'

DECLARE @i int;
SET @i = 0;
WHILE @i < 100
BEGIN
	DECLARE @No [varchar] (2);
	
	SET @No = CASE 
         WHEN @i<10 THEN '0' + CAST(@i AS varchar(6))
         WHEN @i>=10 AND @i<100 THEN CAST(@i AS varchar(6))
	END;
	
	IF @No IS NOT NULL
	BEGIN
		DECLARE @TEMP INT = @i % 18
		DECLARE @LOC [VARCHAR](2)
		
		SET @LOC = CASE 
			 WHEN @TEMP<9 THEN '0' + CAST(@TEMP+1 AS varchar(1))
			 WHEN @TEMP>=9 AND @TEMP<100 THEN CAST(@TEMP+1 AS varchar(2))
		END;		

		INSERT INTO [BHSDB].[dbo].[FALLBACK_MAPPING]([ID], [DESTINATION], [DESCRIPTION], [SYS_ACTION]) VALUES (@No, 'MUC' + @LOC, 'Discharge of fallback tag destination ' + @No ,'Immediately');
	
	END
	SET @i = @i + 1;
END
GO




/* Insert data into table [SUBSYSTEM_GROUPING] */
--PRINT 'INFO: Inserting initial records into table [SUBSYSTEM_GROUPING]...'
--INSERT INTO [BHSDB].[dbo].[SUBSYSTEM_GROUPING] ([GROUP_NAME], [LOCATION] ,[SUBSYSTEM]) VALUES ('CT01','CT01-21','CT01')
--INSERT INTO [BHSDB].[dbo].[SUBSYSTEM_GROUPING] ([GROUP_NAME], [LOCATION] ,[SUBSYSTEM]) VALUES ('RT01','CT01-23','CT01')
--INSERT INTO [BHSDB].[dbo].[SUBSYSTEM_GROUPING] ([GROUP_NAME], [LOCATION] ,[SUBSYSTEM]) VALUES ('CT02','CT02-21','CT02')


/* Insert data into table [LOCATIONS] */
PRINT 'INFO: Inserting initial records into table [LOCATIONS]...'
-- CIT01 EQUIP
INSERT INTO [dbo].[LOCATIONS] ([SUBSYSTEM],[LOCATION],[PLC_ZONE],[DESCRIPTION],[ASSIGNABLE],[STATUS_TYPE]) VALUES ('CIT01','CIT01-010','PLC01','Take Away Conveyor',NULL,NULL)
INSERT INTO [dbo].[LOCATIONS] ([SUBSYSTEM],[LOCATION],[PLC_ZONE],[DESCRIPTION],[ASSIGNABLE],[STATUS_TYPE]) VALUES ('CIT01','CIT01-020','PLC01','Take Away Conveyor',NULL,NULL)
INSERT INTO [dbo].[LOCATIONS] ([SUBSYSTEM],[LOCATION],[PLC_ZONE],[DESCRIPTION],[ASSIGNABLE],[STATUS_TYPE]) VALUES ('CIT01','CIT01-021','PLC01','Fire Shutter Door',NULL,NULL)
-- CIT02 EQUIP
-- CIT03 EQUIP
-- CIT04 EQUIP
-- CIT05 EQUIP


---- BHS
--INSERT INTO [dbo].[LOCATIONS] ([SUBSYSTEM],[LOCATION],[PLC_ZONE],[DESCRIPTION],[ASSIGNABLE],[STATUS_TYPE]) VALUES ('BHS','PLC-01','PLC0102','PLC',NULL,NULL)
GO

/* Insert data into table [ROUTING_TABLE] */
PRINT 'INFO: Inserting initial records into table [ROUTING_TABLE]...'
-- TTS01
INSERT INTO [dbo].[ROUTING_TABLE] ([SUBSYSTEM],[LOCATION],[DESCRIPTION],[COST]) VALUES ('STM01','STM01-090','STM01-090 Start Point',1000 )
INSERT INTO [dbo].[ROUTING_TABLE] ([SUBSYSTEM],[LOCATION],[DESCRIPTION],[COST]) VALUES ('STM01','STM01-100','STM01-100',1010 )
INSERT INTO [dbo].[ROUTING_TABLE] ([SUBSYSTEM],[LOCATION],[DESCRIPTION],[COST]) VALUES ('STM01','STM01-110','STM01-110',1020 )











-- TTS02










GO


/* Insert data into table [PICTURES] */
PRINT 'INFO: Inserting report logo image (C:\ReportLogo.gif, image size:150x100) into table [PICTURES]...'
INSERT INTO [dbo].[PICTURES] (PIC_NAME,PIC_TITLE, PIC_DESC, PIC_IMAGE) 
	SELECT 'ReportLogo', 'Chhatrapati Shivaji International Airport', 'Logo used on all reports', * 
		FROM OPENROWSET(BULK 'C:\ReportLogo.gif', Single_Blob) AS PIC
Go



/* Insert data into table [SECURITY_CATEGORIES] */
PRINT 'INFO: Inserting initial records into table [SECURITY_CATEGORIES]...'
INSERT [dbo].[SECURITY_CATEGORIES] ([SECU_CAT_CODE], [NAME], [IS_ACTIVE], [DESCRIPTION]) VALUES (N'BHS', N'Baggage handling System', 1, N'Security catagory for BHS applications.')
INSERT [dbo].[SECURITY_CATEGORIES] ([SECU_CAT_CODE], [NAME], [IS_ACTIVE], [DESCRIPTION]) VALUES (N'MHS', N'Material handling System', 1, N'Security catagory for MHS applications.')
GO


/* Insert data into table [SECURITY_GROUPS] */
PRINT 'INFO: Inserting initial records into table [SECURITY_GROUPS]...'
INSERT [dbo].[SECURITY_GROUPS] ([SECU_GROUP_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION]) VALUES (N'BHSGROUP001', N'Allocation Planner', N'BHS', 1, N'The allocation planner info.')
INSERT [dbo].[SECURITY_GROUPS] ([SECU_GROUP_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION]) VALUES (N'BHSGROUP002', N'Computer System Administrator', N'BHS', 1, N'The computer system administrator info.')
INSERT [dbo].[SECURITY_GROUPS] ([SECU_GROUP_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION]) VALUES (N'BHSGROUP003', N'Early Baggage Handler', N'BHS', 1, N'The early baggage handler info.')


/* Insert data into table [SECURITY_TASKS] */
PRINT 'INFO: Inserting initial records into table [SECURITY_TASKS]...'
INSERT [dbo].[SECURITY_TASKS] ([SECU_TASK_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION]) VALUES (N'BHSTASK001', N'Create Flights', N'BHS', 1, N'Allow to create the flight manually')
INSERT [dbo].[SECURITY_TASKS] ([SECU_TASK_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION]) VALUES (N'BHSTASK002', N'Update Flights', N'BHS', 1, N'Allow to update the flight manually')
INSERT [dbo].[SECURITY_TASKS] ([SECU_TASK_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION]) VALUES (N'BHSTASK003', N'Delete Flights', N'BHS', 1, N'Allow to delete the flights manually')



/* Insert data into table [ITEM_CUSTOMS_RESULT_TYPES] */
PRINT 'INFO: Inserting initial records into table [ITEM_SCREENED_RESULT_TYPES]...'
INSERT INTO [dbo].[ITEM_CUSTOMS_RESULT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('A', 'Accepted')
INSERT INTO [dbo].[ITEM_CUSTOMS_RESULT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('R', 'Rejected')
INSERT INTO [dbo].[ITEM_CUSTOMS_RESULT_TYPES] ([TYPE],[DESCRIPTION]) VALUES ('W', 'Pending')
		

/* Insert data into table [BAGGAGE_MEASURE_ARRAY_TYPE] */
PRINT 'INFO: Inserting initial records into table [BAGGAGE_MEASURE_ARRAY_TYPE]...'
INSERT INTO [dbo].[BAGGAGE_MEASURE_ARRAY_TYPE] ([TYPE],[DESCRIPTION]) VALUES ('00','Out Of Gauge Baggage')
INSERT INTO [dbo].[BAGGAGE_MEASURE_ARRAY_TYPE] ([TYPE],[DESCRIPTION]) VALUES ('01','Normal Size Baggage ')



/* Insert data into table [CHUTE_MAPPING] */
PRINT 'INFO: Inserting initial records into table [CHUTE_MAPPING]...'
-- TTS01 Chutes
INSERT INTO [BHSDB].[dbo].[CHUTE_MAPPING] ([CHUTE],[SORTER],[DESTINATION]) VALUES ('MUF01-060','TTS01','MUC01')
INSERT INTO [BHSDB].[dbo].[CHUTE_MAPPING] ([CHUTE],[SORTER],[DESTINATION]) VALUES ('MUF02-010','TTS01','MUC02')
INSERT INTO [BHSDB].[dbo].[CHUTE_MAPPING] ([CHUTE],[SORTER],[DESTINATION]) VALUES ('MUF03-060','TTS01','MUC03')
-- TTS02 Chutes
		
PRINT 'INFO: End of Insert New Initial Data.'
GO
PRINT 'INFO: .'
PRINT 'INFO: .'
PRINT 'INFO: .'
GO
PRINT 'INFO: End of STEP2.3'
GO