USE [BHSDB_OKC]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_GETLOCALINSERTEDDATA]    Script Date: 04-04-2014 12:41:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[stp_MES_GETLOCALINSERTEDDATA]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- TO GET ITEM_READY
    SELECT TIME_STAMP, GID, LOCATION, PLC_INDEX FROM ITEM_READY 

	-- TO GET ITEM_REMOVED
	SELECT TIME_STAMP, GID, LOCATION, PLC_INDEX FROM ITEM_REMOVED 

	-- TO GET ITEM_ENCODED
	SELECT TIME_STAMP, GID, LOCATION, LICENSE_PLATE, AIRLINE, FLIGHT_NUMBER, ENCODING_TYPE, PLC_INDEX, DEST FROM ITEM_ENCODED

	
END
