USE [BHSDB_CLT_LOCAL]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_INSERT_FLIGHT_PLAN_ALLOC]    Script Date: 04-04-2014 4:57:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_MES_INSERT_FLIGHT_PLAN_ALLOC]
	@FLIGHT_PLAN_ALLOC_TABLETYPE FLIGHT_PLAN_ALLOC_TABLETYPE READONLY
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM FLIGHT_PLAN_ALLOC;
	
    INSERT INTO FLIGHT_PLAN_ALLOC ([AIRLINE],[FLIGHT_NUMBER],[SDO],[STO],[RESOURCE],[WEEKDAY],[EDO],[ETO],[ADO],[ATO],
				[IDO],[ITO],[TRAVEL_CLASS],[FLIGHT_DESTINATION],[BAG_TYPE],[TRANSFER],[COMMENT_ID],[HIGH_RISK],[HBS_LEVEL_REQUIRED],
				[EARLY_OPEN_OFFSET],[EARLY_OPEN_ENABLED],[ALLOC_OPEN_OFFSET],[ALLOC_OPEN_RELATED],[ALLOC_CLOSE_OFFSET],[ALLOC_CLOSE_RELATED],
				[RUSH_DURATION],[SCHEME_TYPE],[CREATED_BY],[TIME_STAMP],[HOUR],[IS_MANUAL_CLOSE],[IS_CLOSED],[IS_MISS_TEMPLATE_FLIGHT]) 
	SELECT      [AIRLINE],[FLIGHT_NUMBER],[SDO],[STO],[RESOURCE],[WEEKDAY],[EDO],[ETO],[ADO],[ATO],
				[IDO],[ITO],[TRAVEL_CLASS],[FLIGHT_DESTINATION],[BAG_TYPE],[TRANSFER],[COMMENT_ID],[HIGH_RISK],[HBS_LEVEL_REQUIRED],
				[EARLY_OPEN_OFFSET],[EARLY_OPEN_ENABLED],[ALLOC_OPEN_OFFSET],[ALLOC_OPEN_RELATED],[ALLOC_CLOSE_OFFSET],[ALLOC_CLOSE_RELATED],
				[RUSH_DURATION],[SCHEME_TYPE],[CREATED_BY],[TIME_STAMP],[HOUR],[IS_MANUAL_CLOSE],[IS_CLOSED],[IS_MISS_TEMPLATE_FLIGHT] 
    FROM @FLIGHT_PLAN_ALLOC_TABLETYPE

END
