USE [BHSDB_OKCLOCAL]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_GETREQUIREDATATOLOCAL]    Script Date: 04-04-2014 3:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[stp_MES_GETREQUIREDATATOLOCAL]
	@STATION_NAME VARCHAR(20),
	@STATUS INT,
	@LAST_DOWNLOAD_TIME DATETIME
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @Statecodes AS VARCHAR(2000)

    EXEC @StateCodes = dbo.Mes_GETTablechanges @STATION_NAME, @STATUS
    
    -- SYS CONFIG
    IF((@Status = 0) OR (PATINDEX('%SYS_CONFIG%', @Statecodes)>0))
	BEGIN
		SELECT [SYS_KEY], [SYS_VALUE], [DEFAULT_VALUE], [LAST_VALUE], [DESCRIPTION], 
		[VALUE_TOKEN], [SYS_ACTION], [GROUP_NAME], [ORDER_FLAG], [IS_ENABLED],0 AS [IS_CHANGED] FROM SYS_CONFIG
	END
	ELSE
	BEGIN
		SELECT [SYS_KEY], [SYS_VALUE], [DEFAULT_VALUE], [LAST_VALUE], [DESCRIPTION], 
		[VALUE_TOKEN], [SYS_ACTION], [GROUP_NAME], [ORDER_FLAG], [IS_ENABLED],0 AS [IS_CHANGED] FROM SYS_CONFIG
		WHERE [SYS_KEY] = ''
	END
	
	
	-- FUNCTION ALLOC GANTT
	IF((@Status = 0) OR (PATINDEX('%FUNCTION_ALLOC_GANTT%', @Statecodes)>0))
	BEGIN
		SELECT [ID], [TIME_STAMP], [FUNCTION_TYPE], [RESOURCE], [ALLOC_OPEN_DATETIME], 
			[ALLOC_CLOSE_DATETIME], [IS_CLOSED], [EXCEPTION] 
		FROM FUNCTION_ALLOC_GANTT
	END
	ELSE
	BEGIN
		SELECT [ID], [TIME_STAMP], [FUNCTION_TYPE], [RESOURCE], [ALLOC_OPEN_DATETIME], 
			[ALLOC_CLOSE_DATETIME], [IS_CLOSED], [EXCEPTION] 
		FROM FUNCTION_ALLOC_GANTT WHERE [TIME_STAMP] = ''
	END
	
	-- FUNCTION ALLOC LIST
	IF((@Status = 0) OR (PATINDEX('%FUNCTION_ALLOC_LIST%', @Statecodes)>0))
	BEGIN
		SELECT [TIME_STAMP], [FUNCTION_TYPE], [RESOURCE], [IS_ENABLED], [SYS_TAB_NAME], [SYS_ACTION], 0 AS [IS_CHANGED] 
		FROM FUNCTION_ALLOC_LIST
	END
	ELSE
	BEGIN
		SELECT [TIME_STAMP], [FUNCTION_TYPE], [RESOURCE], [IS_ENABLED], [SYS_TAB_NAME], [SYS_ACTION], 0 AS [IS_CHANGED] 
		FROM FUNCTION_ALLOC_LIST WHERE [TIME_STAMP] = ''
	END
	
	-- FUNCTION TYPES
	IF((@Status = 0) OR (PATINDEX('%FUNCTION_TYPES%', @Statecodes)>0))
	BEGIN
		SELECT [TYPE], [GROUP], [DESCRIPTION], [IS_ALLOCATED], [IS_ENABLED] FROM FUNCTION_TYPES
	END
	ELSE
	BEGIN
		SELECT [TYPE], [GROUP], [DESCRIPTION], [IS_ALLOCATED], [IS_ENABLED] FROM FUNCTION_TYPES
		WHERE [TYPE]=''
	END
	
	-- SORTATION REASON
	IF((@Status = 0) OR (PATINDEX('%SORTATION_REASON%', @Statecodes)>0))
	BEGIN
		 SELECT [REASON], [DESCRIPTION] FROM SORTATION_REASON
	END
	ELSE
	BEGIN
		 SELECT [REASON], [DESCRIPTION] FROM SORTATION_REASON WHERE REASON = ''
	END
	
	-- AIRLINES
	IF((@STATUS = 0) OR (PATINDEX('%AIRLINES%', @Statecodes)>0))
	BEGIN
		SELECT [CODE_IATA], [CODE_ICAO], [NAME], [TICKETING_CODE], [DESTINATION], [DESTINATION1], [RUSH], [HANDLER], [SORT_FLAG] FROM AIRLINES
	END
	ELSE
	BEGIN
		SELECT [CODE_IATA], [CODE_ICAO], [NAME], [TICKETING_CODE], [DESTINATION], [DESTINATION1], [RUSH], [HANDLER], [SORT_FLAG] FROM AIRLINES WHERE CODE_IATA=''
	END
	
	-- DESTINATION
	IF((@Status = 0) OR (PATINDEX('%DESTINATIONS%', @Statecodes)>0))
	BEGIN
		SELECT [DESTINATION], [SUBSYSTEM], [DESCRIPTION], [IS_AVAILABLE], [LOCATION_ID] FROM DESTINATIONS
	END
	ELSE
	BEGIN
		SELECT [DESTINATION], [SUBSYSTEM], [DESCRIPTION], [IS_AVAILABLE], [LOCATION_ID] FROM DESTINATIONS
		WHERE DESTINATION = ''
	END
	
	-- DESTINATION CHUTE MAPPING
	IF((@Status = 0) OR (PATINDEX('%DESTINATION_CHUTE_MAPPING%', @Statecodes)>0))
	BEGIN
		SELECT [DESTINATION], [SUBSYSTEM], [LOCATIONS], [STATUS], [RECIRCULATE], [LOCATION_ID] FROM DESTINATION_CHUTE_MAPPING
	END
	ELSE
	BEGIN
		SELECT [DESTINATION], [SUBSYSTEM], [LOCATIONS], [STATUS], [RECIRCULATE], [LOCATION_ID] FROM DESTINATION_CHUTE_MAPPING
		WHERE DESTINATION = ''
	END

	-- DESTINATION PATH MAPPING
	IF((@Status = 0) OR (PATINDEX('%DESTINATION_PATH_MAPPING%', @Statecodes)>0))
	BEGIN
		SELECT [SUBSYSTEM], [PATH] FROM DESTINATION_PATH_MAPPING
	END
	ELSE
	BEGIN
		SELECT [SUBSYSTEM], [PATH] FROM DESTINATION_PATH_MAPPING
		WHERE [SUBSYSTEM] = ''
	END

	-- BAG INFO
	-- [BAG_INFO] table only download past 6 hours and future 6 hours records.
	IF((@Status = 0) OR (PATINDEX('%BAG_INFO%', @Statecodes)>0))
	BEGIN
		IF (@STATUS = 0)
		BEGIN
			SELECT [GID], [LICENSE_PLATE1], [LICENSE_PLATE2], 
				   [HBS1_RESULT], [HBS2_RESULT], [HBS3_RESULT], [LAST_LOCATION], [TIME_STAMP], [TYPE]
			FROM BAG_INFO 
			WHERE ([TIME_STAMP] BETWEEN DATEADD(HH,-6,GETDATE()) AND DATEADD(HH,6,GETDATE())) 
		END
		ELSE
		BEGIN
			SELECT [GID], [LICENSE_PLATE1], [LICENSE_PLATE2], 
				   [HBS1_RESULT], [HBS2_RESULT], [HBS3_RESULT], [LAST_LOCATION], [TIME_STAMP], [TYPE]
			FROM BAG_INFO 
			WHERE ([TIME_STAMP] BETWEEN DATEADD(HH,-6,GETDATE()) AND DATEADD(HH,6,GETDATE()))
		END
	END 
	ELSE
	BEGIN
		SELECT [GID], [LICENSE_PLATE1], [LICENSE_PLATE2], 
				   [HBS1_RESULT], [HBS2_RESULT], [HBS3_RESULT], [LAST_LOCATION], [TIME_STAMP], [TYPE]
		FROM BAG_INFO WHERE ([GID] = '')
	END
	

	-- BAG SORTING
	-- [BAG_SORTING] table only download past 6 hours and future 6 hours records.
	IF((@Status = 0) OR (PATINDEX('%BAG_SORTING%', @Statecodes)>0))
	BEGIN
		IF (@STATUS = 0)
		BEGIN
			SELECT [DATA_ID],[TIME_STAMP],[DICTIONARY_VERSION],[SOURCE],[AIRPORT_CODE],[LICENSE_PLATE],[AIRLINE],[FLIGHT_NUMBER],[SDO],
				[DESTINATION],[TRAVEL_CLASS],[INBOUND_AIRLINE],[INBOUND_FLIGHT_NUMBER],[INBOUND_SDO],[INBOUND_AIRPORT_CODE],
				[INBOUND_TRAVEL_CLASS],[ONWARD_AIRLINE],[ONWARD_FLIGHT_NUMBER],[ONWARD_SDO],[ONWARD_AIRPORT_CODE],[ONWARD_TRAVEL_CLASS],
				[NO_PASSENGER_SAME_SURNAME],[SURNAME],[GIVEN_NAME],[OTHERS_NAME],[BAG_EXCEPTION],
				[CHECK_IN_COUNTER],[CHECK_IN_COUNTER_DESCRIPTION],[CHECK_IN_TIME_STAMP],[CHECK_IN_CARRIAGE_MEDIUM],[CHECK_IN_TRANSPORT_ID],[TAG_PRINTER_ID],
				[RECONCILIATION_LOAD_AUTHORITY],[RECONCILIATION_SEAT_NUMBER],[RECONCILIATION_PASSENGER_STATUS],[RECONCILIATION_SEQUENCE_NUMBER],[RECONCILIATION_SECURITY_NUMBER],[RECONCILIATION_PASSENGER_PROFILES_STATUS],
				[RECONCILIATION_TRANSPORT_AUTHORITY],[RECONCILIATION_BAG_TAG_STATUS],[HANDLING_TERMINAL],[HANDLING_BAR],[HANDLING_GATE],[WEIGHT_INDICATOR],[WEIGHT_CHECKED_BAG_NUMBER],
				[CHECKED_WEIGHT],[UNCHECKED_WEIGHT],[WEIGHT_UNIT],[WEIGHT_LENGTH],[WEIGHT_WIDTH],[WEIGHT_HEIGHT],[WEIGHT_BAG_TYPE_CODE],
				[GROUND_TRANSPORT_EARLIEST_DELIVERY],[GROUND_TRANSPORT_LATEST_DELIVERY],[GROUND_TRANSPORT_DESCRIPTION],
				[FREQUENT_TRAVELLER_ID_NUMBER],[FREQUENT_TRAVELLER_TIER_ID],[CORPORATE_NAME],[AUTOMATED_PNR_ADDRESS],[MESSAGE_PRINTER_ID],
				[INTERNAL_AIRLINE_DATA],[SECURITY_SCREENING_INSTRUCTION],[SECURITY_SCREENING_RESULT],[SECURITY_SCREENING_RESULT_REASON],
				[SECURITY_SCREENING_RESULT_METHOD],[SECURITY_SCREENING_AUTOGRAPH],[SECURITY_SCREENING_FREE_TEXT],[HIGH_RISK],[HBS_LEVEL_REQUIRED],[CREATED_BY]
			FROM BAG_SORTING 
			WHERE [TIME_STAMP] BETWEEN DATEADD(HH,-6,GETDATE()) AND DATEADD(HH,6,GETDATE())
		END
		ELSE
		BEGIN
			SELECT [DATA_ID],[TIME_STAMP],[DICTIONARY_VERSION],[SOURCE],[AIRPORT_CODE],[LICENSE_PLATE],[AIRLINE],[FLIGHT_NUMBER],[SDO],
				[DESTINATION],[TRAVEL_CLASS],[INBOUND_AIRLINE],[INBOUND_FLIGHT_NUMBER],[INBOUND_SDO],[INBOUND_AIRPORT_CODE],
				[INBOUND_TRAVEL_CLASS],[ONWARD_AIRLINE],[ONWARD_FLIGHT_NUMBER],[ONWARD_SDO],[ONWARD_AIRPORT_CODE],[ONWARD_TRAVEL_CLASS],
				[NO_PASSENGER_SAME_SURNAME],[SURNAME],[GIVEN_NAME],[OTHERS_NAME],[BAG_EXCEPTION],
				[CHECK_IN_COUNTER],[CHECK_IN_COUNTER_DESCRIPTION],[CHECK_IN_TIME_STAMP],[CHECK_IN_CARRIAGE_MEDIUM],[CHECK_IN_TRANSPORT_ID],[TAG_PRINTER_ID],
				[RECONCILIATION_LOAD_AUTHORITY],[RECONCILIATION_SEAT_NUMBER],[RECONCILIATION_PASSENGER_STATUS],[RECONCILIATION_SEQUENCE_NUMBER],[RECONCILIATION_SECURITY_NUMBER],[RECONCILIATION_PASSENGER_PROFILES_STATUS],
				[RECONCILIATION_TRANSPORT_AUTHORITY],[RECONCILIATION_BAG_TAG_STATUS],[HANDLING_TERMINAL],[HANDLING_BAR],[HANDLING_GATE],[WEIGHT_INDICATOR],[WEIGHT_CHECKED_BAG_NUMBER],
				[CHECKED_WEIGHT],[UNCHECKED_WEIGHT],[WEIGHT_UNIT],[WEIGHT_LENGTH],[WEIGHT_WIDTH],[WEIGHT_HEIGHT],[WEIGHT_BAG_TYPE_CODE],
				[GROUND_TRANSPORT_EARLIEST_DELIVERY],[GROUND_TRANSPORT_LATEST_DELIVERY],[GROUND_TRANSPORT_DESCRIPTION],
				[FREQUENT_TRAVELLER_ID_NUMBER],[FREQUENT_TRAVELLER_TIER_ID],[CORPORATE_NAME],[AUTOMATED_PNR_ADDRESS],[MESSAGE_PRINTER_ID],
				[INTERNAL_AIRLINE_DATA],[SECURITY_SCREENING_INSTRUCTION],[SECURITY_SCREENING_RESULT],[SECURITY_SCREENING_RESULT_REASON],
				[SECURITY_SCREENING_RESULT_METHOD],[SECURITY_SCREENING_AUTOGRAPH],[SECURITY_SCREENING_FREE_TEXT],[HIGH_RISK],[HBS_LEVEL_REQUIRED],[CREATED_BY]
			FROM BAG_SORTING 
			WHERE [TIME_STAMP] BETWEEN DATEADD(HH,-6,GETDATE()) AND DATEADD(HH,6,GETDATE())
			-- WHERE [TIME_STAMP] BETWEEN @LAST_DOWNLOAD_TIME AND GETDATE()
		END
	END
	ELSE
	BEGIN
		SELECT [DATA_ID],[TIME_STAMP],[DICTIONARY_VERSION],[SOURCE],[AIRPORT_CODE],[LICENSE_PLATE],[AIRLINE],[FLIGHT_NUMBER],[SDO],
				[DESTINATION],[TRAVEL_CLASS],[INBOUND_AIRLINE],[INBOUND_FLIGHT_NUMBER],[INBOUND_SDO],[INBOUND_AIRPORT_CODE],
				[INBOUND_TRAVEL_CLASS],[ONWARD_AIRLINE],[ONWARD_FLIGHT_NUMBER],[ONWARD_SDO],[ONWARD_AIRPORT_CODE],[ONWARD_TRAVEL_CLASS],
				[NO_PASSENGER_SAME_SURNAME],[SURNAME],[GIVEN_NAME],[OTHERS_NAME],[BAG_EXCEPTION],
				[CHECK_IN_COUNTER],[CHECK_IN_COUNTER_DESCRIPTION],[CHECK_IN_TIME_STAMP],[CHECK_IN_CARRIAGE_MEDIUM],[CHECK_IN_TRANSPORT_ID],[TAG_PRINTER_ID],
				[RECONCILIATION_LOAD_AUTHORITY],[RECONCILIATION_SEAT_NUMBER],[RECONCILIATION_PASSENGER_STATUS],[RECONCILIATION_SEQUENCE_NUMBER],[RECONCILIATION_SECURITY_NUMBER],[RECONCILIATION_PASSENGER_PROFILES_STATUS],
				[RECONCILIATION_TRANSPORT_AUTHORITY],[RECONCILIATION_BAG_TAG_STATUS],[HANDLING_TERMINAL],[HANDLING_BAR],[HANDLING_GATE],[WEIGHT_INDICATOR],[WEIGHT_CHECKED_BAG_NUMBER],
				[CHECKED_WEIGHT],[UNCHECKED_WEIGHT],[WEIGHT_UNIT],[WEIGHT_LENGTH],[WEIGHT_WIDTH],[WEIGHT_HEIGHT],[WEIGHT_BAG_TYPE_CODE],
				[GROUND_TRANSPORT_EARLIEST_DELIVERY],[GROUND_TRANSPORT_LATEST_DELIVERY],[GROUND_TRANSPORT_DESCRIPTION],
				[FREQUENT_TRAVELLER_ID_NUMBER],[FREQUENT_TRAVELLER_TIER_ID],[CORPORATE_NAME],[AUTOMATED_PNR_ADDRESS],[MESSAGE_PRINTER_ID],
				[INTERNAL_AIRLINE_DATA],[SECURITY_SCREENING_INSTRUCTION],[SECURITY_SCREENING_RESULT],[SECURITY_SCREENING_RESULT_REASON],
				[SECURITY_SCREENING_RESULT_METHOD],[SECURITY_SCREENING_AUTOGRAPH],[SECURITY_SCREENING_FREE_TEXT],[HIGH_RISK],[HBS_LEVEL_REQUIRED],[CREATED_BY]
			FROM BAG_SORTING WHERE [DATA_ID]=''
	END
	
	-- FALLBACK MAPPING
	IF((@Status = 0) OR (PATINDEX('%FALLBACK_MAPPING%', @Statecodes)>0))
	BEGIN
		SELECT [ID], [DESTINATION], [DESCRIPTION], [SYS_ACTION], 0 AS [IS_CHANGED] FROM FALLBACK_MAPPING
	END
	ELSE
	BEGIN
		SELECT [ID], [DESTINATION], [DESCRIPTION], [SYS_ACTION], 0 AS [IS_CHANGED] FROM FALLBACK_MAPPING
		WHERE [ID] = ''
	END
	
	-- FOUR DIGIT FALLBACK MAPPING
	IF((@Status = 0) OR (PATINDEX('%FOUR_DIGITS_FALLBACK_MAPPING%', @Statecodes)>0))
	BEGIN
		SELECT [ID], [DESTINATION], [DESCRIPTION], [SYS_ACTION], 0 AS [IS_CHANGED] FROM FOUR_DIGITS_FALLBACK_MAPPING
	END
	ELSE
	BEGIN
		SELECT [ID], [DESTINATION], [DESCRIPTION], [SYS_ACTION], 0 AS [IS_CHANGED] FROM FOUR_DIGITS_FALLBACK_MAPPING
		WHERE [DESTINATION] = ''
	END
    
	-- FLIGHT PLAN ALLOC
	-- [FLIGHT_PLAN_ALLOC] table only download past 48 hours and future 24 hours records.
	IF((@Status = 0) OR (PATINDEX('%FLIGHT_PLAN_ALLOC%', @Statecodes)>0))
	BEGIN
		IF (@STATUS = 0)
		BEGIN
			SELECT 	[AIRLINE],[FLIGHT_NUMBER],[SDO],[STO],[RESOURCE],[WEEKDAY],[EDO],[ETO],[ADO],[ATO],
				[IDO],[ITO],[TRAVEL_CLASS],[FLIGHT_DESTINATION],[BAG_TYPE],[TRANSFER],[COMMENT_ID],[HIGH_RISK],[HBS_LEVEL_REQUIRED],
				[EARLY_OPEN_OFFSET],[EARLY_OPEN_ENABLED],[ALLOC_OPEN_OFFSET],[ALLOC_OPEN_RELATED],[ALLOC_CLOSE_OFFSET],[ALLOC_CLOSE_RELATED],
				[RUSH_DURATION],[SCHEME_TYPE],[CREATED_BY],[TIME_STAMP],[HOUR],[IS_MANUAL_CLOSE],[IS_CLOSED],[IS_MISS_TEMPLATE_FLIGHT]
			FROM FLIGHT_PLAN_ALLOC 
			WHERE [TIME_STAMP] BETWEEN DATEADD(HH,-48,GETDATE()) AND DATEADD(HH,24,GETDATE())
		END
		ELSE
		BEGIN
			SELECT [AIRLINE],[FLIGHT_NUMBER],[SDO],[STO],[RESOURCE],[WEEKDAY],[EDO],[ETO],[ADO],[ATO],
				[IDO],[ITO],[TRAVEL_CLASS],[FLIGHT_DESTINATION],[BAG_TYPE],[TRANSFER],[COMMENT_ID],[HIGH_RISK],[HBS_LEVEL_REQUIRED],
				[EARLY_OPEN_OFFSET],[EARLY_OPEN_ENABLED],[ALLOC_OPEN_OFFSET],[ALLOC_OPEN_RELATED],[ALLOC_CLOSE_OFFSET],[ALLOC_CLOSE_RELATED],
				[RUSH_DURATION],[SCHEME_TYPE],[CREATED_BY],[TIME_STAMP],[HOUR],[IS_MANUAL_CLOSE],[IS_CLOSED],[IS_MISS_TEMPLATE_FLIGHT]
			FROM FLIGHT_PLAN_ALLOC 
			WHERE [TIME_STAMP] BETWEEN DATEADD(HH,-48,GETDATE()) AND DATEADD(HH,24,GETDATE())
			-- WHERE [TIME_STAMP] BETWEEN @LAST_DOWNLOAD_TIME AND GETDATE()
		END
	END
	ELSE
	BEGIN
		SELECT [AIRLINE],[FLIGHT_NUMBER],[SDO],[STO],[RESOURCE],[WEEKDAY],[EDO],[ETO],[ADO],[ATO],
				[IDO],[ITO],[TRAVEL_CLASS],[FLIGHT_DESTINATION],[BAG_TYPE],[TRANSFER],[COMMENT_ID],[HIGH_RISK],[HBS_LEVEL_REQUIRED],
				[EARLY_OPEN_OFFSET],[EARLY_OPEN_ENABLED],[ALLOC_OPEN_OFFSET],[ALLOC_OPEN_RELATED],[ALLOC_CLOSE_OFFSET],[ALLOC_CLOSE_RELATED],
				[RUSH_DURATION],[SCHEME_TYPE],[CREATED_BY],[TIME_STAMP],[HOUR],[IS_MANUAL_CLOSE],[IS_CLOSED],[IS_MISS_TEMPLATE_FLIGHT]
		FROM FLIGHT_PLAN_ALLOC WHERE [AIRLINE] = ''
	END
	
	-- Flight Plan Sorting
	-- [FLIGHT_PLAN_SORTING] table only download past 48 hours and future 24 hours records.
	IF((@Status = 0) OR (PATINDEX('%FLIGHT_PLAN_SORTING%', @Statecodes)>0))
	BEGIN
		IF(@STATUS = 0)
		BEGIN
			SELECT 	[TIME_STAMP],[DATA_ID],[AIRLINE],[FLIGHT_NUMBER],[FLIGHT_NUMBER_SUFFIX],[HANDLER],[SDO],
			[STO],[EDO],[ETO],[ADO],[ATO],[IDO],[ITO],[BLOCK_OFF_TIME],[FINAL_DEST],[DEST1],[DEST2],[DEST3],[DEST4],[DEST5],[CANCELLED],
			[AIRCRAFT_TYPE],[HANDLER_SPECIFIC_DESC],[AIRCRAFT_VERSION],[TERMINAL],[CHECKIN_AREA],[CHECKIN_STATUS],
			[PUBLIC_REMARK_CODE],[PIER],[GATE],[PARKING_STAND],[NATURE],[SORTING_DEST1],[SORTING_DEST2],[GENERAL_PURPOSE],
			[FI_EXCEPTION],[MASTER_AIRLINE],[MASTER_FLIGHT_NUMBER],[MASTER_FLIGHT_NUMBER_SUFFIX],[MASTER_SDO],[BOOKED_PAX],[HBS_LEVEL_REQUIRED],
			[WEEKDAY],[HOUR],[HIGH_RISK],[ALLOC_OPEN_TIME],[ALLOC_CLOSE_TIME],[CREATED_BY],[IS_ALLOCATED],[CUSTOMS_REQUIRED],[FLIGHT_TYPE]
			FROM FLIGHT_PLAN_SORTING
			WHERE [TIME_STAMP] BETWEEN DATEADD(HH,-48,GETDATE()) AND DATEADD(HH,24,GETDATE())
		END
		ELSE
		BEGIN
			SELECT [TIME_STAMP],[DATA_ID],[AIRLINE],[FLIGHT_NUMBER],[FLIGHT_NUMBER_SUFFIX],[HANDLER],[SDO],
			[STO],[EDO],[ETO],[ADO],[ATO],[IDO],[ITO],[BLOCK_OFF_TIME],[FINAL_DEST],[DEST1],[DEST2],[DEST3],[DEST4],[DEST5],[CANCELLED],
			[AIRCRAFT_TYPE],[HANDLER_SPECIFIC_DESC],[AIRCRAFT_VERSION],[TERMINAL],[CHECKIN_AREA],[CHECKIN_STATUS],
			[PUBLIC_REMARK_CODE],[PIER],[GATE],[PARKING_STAND],[NATURE],[SORTING_DEST1],[SORTING_DEST2],[GENERAL_PURPOSE],
			[FI_EXCEPTION],[MASTER_AIRLINE],[MASTER_FLIGHT_NUMBER],[MASTER_FLIGHT_NUMBER_SUFFIX],[MASTER_SDO],[BOOKED_PAX],[HBS_LEVEL_REQUIRED],
			[WEEKDAY],[HOUR],[HIGH_RISK],[ALLOC_OPEN_TIME],[ALLOC_CLOSE_TIME],[CREATED_BY],[IS_ALLOCATED],[CUSTOMS_REQUIRED],[FLIGHT_TYPE]
			FROM FLIGHT_PLAN_SORTING
			WHERE [TIME_STAMP] BETWEEN DATEADD(HH,-48,GETDATE()) AND DATEADD(HH,24,GETDATE())		
			-- WHERE [TIME_STAMP] BETWEEN @LAST_DOWNLOAD_TIME AND GETDATE()
		END
	END
	ELSE
	BEGIN
		SELECT [TIME_STAMP],[DATA_ID],[AIRLINE],[FLIGHT_NUMBER],[FLIGHT_NUMBER_SUFFIX],[HANDLER],[SDO],
			[STO],[EDO],[ETO],[ADO],[ATO],[IDO],[ITO],[BLOCK_OFF_TIME],[FINAL_DEST],[DEST1],[DEST2],[DEST3],[DEST4],[DEST5],[CANCELLED],
			[AIRCRAFT_TYPE],[HANDLER_SPECIFIC_DESC],[AIRCRAFT_VERSION],[TERMINAL],[CHECKIN_AREA],[CHECKIN_STATUS],
			[PUBLIC_REMARK_CODE],[PIER],[GATE],[PARKING_STAND],[NATURE],[SORTING_DEST1],[SORTING_DEST2],[GENERAL_PURPOSE],
			[FI_EXCEPTION],[MASTER_AIRLINE],[MASTER_FLIGHT_NUMBER],[MASTER_FLIGHT_NUMBER_SUFFIX],[MASTER_SDO],[BOOKED_PAX],[HBS_LEVEL_REQUIRED],
			[WEEKDAY],[HOUR],[HIGH_RISK],[ALLOC_OPEN_TIME],[ALLOC_CLOSE_TIME],[CREATED_BY],[IS_ALLOCATED],[CUSTOMS_REQUIRED],
			[FLIGHT_TYPE]
		FROM FLIGHT_PLAN_SORTING
		WHERE [TIME_STAMP]= ''
	END
	
	-- AIRPORTS
	IF((@Status = 0) OR (PATINDEX('%AIRPORTS%', @Statecodes)>0))
	BEGIN
		SELECT [CODE_IATA],[CODE_ICAO],[NAME],[COUNTRY],[CITY] FROM AIRPORTS
	END
	ELSE
	BEGIN
		SELECT [CODE_IATA],[CODE_ICAO],[NAME],[COUNTRY],[CITY] FROM AIRPORTS
			WHERE [CODE_IATA] = ''
	END
    
	-- SECURITY CATEGORIES
	IF((@Status = 0) OR (PATINDEX('%SECURITY_CATEGORIES%', @Statecodes)>0))
	BEGIN
		 SELECT [SECU_CAT_CODE], [NAME], [IS_ACTIVE], [DESCRIPTION] FROM SECURITY_CATEGORIES
	END
	ELSE
	BEGIN
		 SELECT [SECU_CAT_CODE], [NAME], [IS_ACTIVE], [DESCRIPTION] FROM SECURITY_CATEGORIES
			WHERE [SECU_CAT_CODE] = ''
	END
	
	-- SECURITY GROUP TASK MAPPING
	IF((@Status = 0) OR (PATINDEX('%SECURITY_GROUP_TASK_MAPPING%', @Statecodes)>0))
	BEGIN
		SELECT [SECU_GROUP_CODE], [SECU_TASK_CODE] FROM SECURITY_GROUP_TASK_MAPPING
	END
	ELSE
	BEGIN
		SELECT [SECU_GROUP_CODE], [SECU_TASK_CODE] FROM SECURITY_GROUP_TASK_MAPPING
			WHERE [SECU_GROUP_CODE] = ''
	END
	
	-- SECURITY GROUP TASKS
	IF((@Status = 0) OR (PATINDEX('%SECURITY_GROUP_TASKS%', @Statecodes)>0))
	BEGIN
		SELECT [SECU_GROUP_CODE], [SECU_TASK_CODE], [IS_ACTIVE] FROM SECURITY_GROUP_TASKS
	END
	ELSE
	BEGIN
		SELECT [SECU_GROUP_CODE], [SECU_TASK_CODE], [IS_ACTIVE] FROM SECURITY_GROUP_TASKS
			WHERE [SECU_GROUP_CODE] = ''
	END
	
	-- SECURITY GROUPS
	IF((@Status = 0) OR (PATINDEX('%SECURITY_GROUPS%', @Statecodes)>0))
	BEGIN
		SELECT [SECU_GROUP_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION] FROM SECURITY_GROUPS
	END
	ELSE
	BEGIN
		SELECT [SECU_GROUP_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION] FROM SECURITY_GROUPS
			WHERE [SECU_GROUP_CODE] = ''
	END
	
	-- SECURITY TASKS
	IF((@Status = 0) OR (PATINDEX('%SECURITY_TASKS%', @Statecodes)>0))
	BEGIN
		SELECT [SECU_TASK_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION] FROM SECURITY_TASKS
	END
	ELSE
	BEGIN
		SELECT [SECU_TASK_CODE], [NAME], [SECU_CAT_CODE], [IS_ACTIVE], [DESCRIPTION] FROM SECURITY_TASKS
			WHERE [SECU_TASK_CODE] = ''
	END
	
	-- SECURITY USER RIGHTS
	IF((@Status = 0) OR (PATINDEX('%SECURITY_USER_RIGHTS%', @Statecodes)>0))
	BEGIN
		SELECT [USER_NAME], [SECU_GROUP_CODE] FROM SECURITY_USER_RIGHTS
	END
	ELSE
	BEGIN
		SELECT [USER_NAME], [SECU_GROUP_CODE] FROM SECURITY_USER_RIGHTS
			WHERE [USER_NAME] = ''
	END
	
	-- SECURITY USERS
	IF((@Status = 0) OR (PATINDEX('%SECURITY_USERS%', @Statecodes)>0))
	BEGIN
		SELECT [USER_NAME], [USER_PASSWORD], [AD_USER_GROUP], [COMPANY], [JOB_TITLE], [AIRPORT_BADGE], [IS_ACTIVE], [DESCRIPTION] FROM SECURITY_USERS
	END
	ELSE
	BEGIN
		SELECT [USER_NAME], [USER_PASSWORD], [AD_USER_GROUP], [COMPANY], [JOB_TITLE], [AIRPORT_BADGE], [IS_ACTIVE], [DESCRIPTION] 
		FROM SECURITY_USERS
		WHERE [USER_NAME] = '' 
	END
	
	-- LOCATIONS
	IF((@Status = 0) OR (PATINDEX('%LOCATIONS%', @Statecodes)>0))
	BEGIN
		SELECT [SUBSYSTEM],[LOCATION],[PLC_ZONE],[DESCRIPTION],[ASSIGNABLE],[STATUS_TYPE],[TRACKED],[CONVEYOR_LEVEL],[LOCATION_ID],[INTERNAL_LOC] FROM LOCATIONS
	END
	ELSE
	BEGIN
		SELECT [SUBSYSTEM],[LOCATION],[PLC_ZONE],[DESCRIPTION],[ASSIGNABLE],[STATUS_TYPE],[TRACKED],[CONVEYOR_LEVEL],[LOCATION_ID],[INTERNAL_LOC] 
		FROM LOCATIONS
		WHERE [LOCATION] = '' 
	END

	IF @STATION_NAME <> ''
	BEGIN
		UPDATE CHANGE_MONITORING SET IS_CHANGED = 0 WHERE SAC_OWS = @STATION_NAME AND IS_CHANGED = 1
	END
	
END
