USE [BHSDB_OKCLOCAL]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_INSERT_ITEM_ENCODED_FROM_LOCAL]    Script Date: 04-04-2014 12:23:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_MES_INSERT_ITEM_ENCODED_FROM_LOCAL]
	@ITEM_ENCODED ITEM_ENCODED_TABLETYPE READONLY
AS
BEGIN
	SET NOCOUNT ON;
	
	INSERT INTO ITEM_ENCODED ([TIME_STAMP], [GID], [LOCATION], [LICENSE_PLATE], [AIRLINE], [FLIGHT_NUMBER], [ENCODING_TYPE], [PLC_INDEX], [DEST]) 
	SELECT TIME_STAMP, GID, LOCATION, LICENSE_PLATE, AIRLINE, FLIGHT_NUMBER, ENCODING_TYPE, PLC_INDEX, DEST FROM @ITEM_ENCODED

END
