USE [BHSDB_OKC]
GO
/****** Object:  StoredProcedure [dbo].[stp_MES_INSERT_SECURITY_GROUP_TASK_MAPPING]    Script Date: 02-04-2014 2:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[stp_MES_INSERT_SECURITY_GROUP_TASK]
	@SECURITY_GROUP_TASK_TABLETYPE SECURITY_GROUP_TASK_TABLETYPE READONLY
AS
BEGIN
	SET NOCOUNT ON;
	DELETE FROM SECURITY_GROUP_TASKS;
	
    INSERT INTO SECURITY_GROUP_TASKS([SECU_GROUP_CODE], [SECU_TASK_CODE], [IS_ACTIVE]) 
	SELECT [SECU_GROUP_CODE], [SECU_TASK_CODE], [IS_ACTIVE]
    FROM @SECURITY_GROUP_TASK_TABLETYPE

END
